<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/h-ss-news/RSS">
  <title>School of Humanities &amp; Social Sciences News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-09-11T00:14:45Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/young-peoples-chorus-of-erie-wins-10k-outreach-grant"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/roeckleins-newest-book-is-released"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/ypc-outreach-at-the-barber-national-institute"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/psychology-professor-tracks-improvements-at-local-school"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/former-congresswoman-to-teach-class-at-penn-state-behrend"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-now-offering-arts-administration-major"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/dr.-inkyu-kang-named-ohmynews.com-journalist-of-the-year"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/tom-noyes-wins-sustainable-arts-foundation-grant"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/programs-events-1/festival-of-writing"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/young-peoples-chorus-of-erie-wins-10k-outreach-grant">        <title>Young People's Chorus of Erie Wins $10K Outreach Grant</title>        <link>https://psbehrend.psu.edu/news-events/news/young-peoples-chorus-of-erie-wins-10k-outreach-grant</link>        <description>The Young People’s Chorus of Erie has won a $10,000 grant from the Erie County Gaming Revenue Authority. The money will allow the chorus, which is part of the School of Humanities and Social Sciences at Penn State Behrend, to continue its youth-outreach efforts in the Erie community.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>“Every child has a voice,” said Alyson Amendola, executive director
of the chorus. “Our job is to help them find it and share it.</p>

<p>“In four short years, the Young People’s Chorus of Erie has helped
hundreds of young people benefit from the musical instruction program,”
Amendola said. “This will allow us to find more students in the inner
city who want to use music as a form of self-expression.”</p>

<p>Six different organizations will split $60,000 in gaming-revenue
grants. The winners were announced Dec. 13 after more than two weeks of
online voting at <a class="external-link" href="http://erieuchoose.com">erieuchoose.com</a>.</p>

<p>The contest, which was modeled on the national Pepsi Refresh
Project, allowed supporters to vote for one organization in each of
three grant categories. The Young People’s Chorus of Erie won the most
votes in the $10,000 grant level.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-12-14T15:29:21Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/roeckleins-newest-book-is-released">        <title>Roecklein's Newest Book is Released </title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/roeckleins-newest-book-is-released</link>        <description>Dr. Robert Roecklein’s second book was recently released by Lexington Books. (October 2012)</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><a class="external-link" href="https://rowman.com/ISBN/9780739177105"><img alt="Roecklein Book Cover" class="pull-left" height="220" src="../../images/Roeckleinbook2012.jpg" width="138" /></a></p>

<p>Dr. Robert Roecklein’s second book, <a class="external-link" href="http://www.amazon.com/Machiavelli-Epicureanism-Investigation-Origins-Political/dp/0739177109/ref=sr_1_1?ie=UTF8&qid=1354736818&sr=8-1&keywords=robert+roecklein">
<i>Machiavelli and Epicureanism: An Investigation into the Origins of
Early Modern Political Thought</i>,</a> was released in October by
Lexington Books. The book investigates the influence of Epicurean
physics on the argument developed in Machiavelli’s <i>Discourses on
Livy</i>. Roecklein’s first book, <a class="external-link" href="http://www.amazon.com/Plato-versus-Parmenides-Coming-into-Being-Philosophy/dp/0739150774/ref=pd_sim_b_1">
<i>Plato versus Parmenides: The Debate over Coming-into-Being in Greek
Philosophy</i></a>, <i></i>was published in 2010.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>kmb253</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-12-05T20:40:21Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/ypc-outreach-at-the-barber-national-institute">        <title>YPC Outreach at the Barber National Institute</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/ypc-outreach-at-the-barber-national-institute</link>        <description>The Young People's Chorus of Erie has formed a satellite choir at the Barber National Institute. The choir is the Barber Center's first venture in Musical Arts.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The choir, which meets twice a week and consists of children with
intellectual disabilities from ages 10-20 years old, encourages
participants to dance and sing with YPC <span style="color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: #ffffff; display: inline !important; float: none;">
assistant conductor and director of education, Caitlin Henning.</span>
Henning, 23, was a perfect fit for the job. She spent her senior year
at Ithaca College researching&nbsp; techniques for teaching music to
students within the autism spectrum. In addition to the choir, YPC
works with pre-school and elementary aged students in a "Movement and
Music" class. The two programs combined reach about 90 students.</p>

<p>View a video of the new choir: <a href="http://video.goerie.com/?pl_id=24682&va_id=3824698">http://video.goerie.com/?pl_id=24682&amp;va_id=3824698</a></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>kmb253</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-11-13T15:51:38Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/psychology-professor-tracks-improvements-at-local-school">        <title>Psychology Professor Tracks Improvements at Local School</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/psychology-professor-tracks-improvements-at-local-school</link>        <description>Dr. Victoria Kazmerski, Associate Professor of Psychology, has been tracking student feelings toward changes that were made to a local middle school. Her findings suggest that students who have a deeper connection with their school tend to do better academically.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>When J. S. Wilson Middle School was closed from 2006 to 2008 for
renovations, Dr. Victoria Kazmerski and her husband, Glenn McKnight, a
teacher at the school, both thought the renovations were much needed.
Kazmerski decided to gauge just how much the renovations affected
students.</p>

<p>After four years of student surveys conducted by Dr. Kazmerski and
her Penn State Behrend psychology students, their findings show that
the improvements made to J. S. Wilson Middle School created a better
learning environment for students.</p>

<p>“Students’ attitudes and feelings about J. S. Wilson exploded (after
the renovations),” Kazmerski said. “They felt they could concentrate
better, and our follow-up studies show higher levels of school
pride.”</p>

<p>Kazmerski’s study resulted in two distinct findings: 1. students
feel attached to the new school, and 2. the school’s environmentally
friendly signs and embedded education aspects are sinking in.</p>

<p>Her findings are based on a series of three surveys conducting in
2008, 2010, and earlier this year.</p>

<p>You can read more about the study and findings at: <a href="http://www.goerie.com/apps/pbcs.dll/article?AID=/20121008/NEWS02/310089980/Behrend-professor-tracks-improvements-at-Millcreek-school&template=mobile">
http://www.goerie.com/apps/pbcs.dll/article?AID=%2F20121008%2FNEWS02%2F310089980%2FBehrend-professor-tracks-improvements-at-Millcreek-school&amp;template=mobile</a></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>kmb253</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-11-07T13:34:22Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/former-congresswoman-to-teach-class-at-penn-state-behrend">        <title>Former Congresswoman Teaching Class at Penn State Behrend</title>        <link>https://psbehrend.psu.edu/news-events/news/former-congresswoman-to-teach-class-at-penn-state-behrend</link>        <description>Former U.S. Rep. Kathy Dahlkemper will teach a public policy class at Penn State Erie, The Behrend College, this fall. She will partner with the Rev. Charles Brock, senior research associate in religious studies, to present the course, which will explore many of the issues being debated in the presidential campaign.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The class – PUBPL 305: Leadership Studies – will dissect some of the
most contentious topics in American culture, including immigration,
race, gay marriage and climate change.</p>

<p>“These issues are huge,” said Dahlkemper, an Erie Democrat who
served in Congress from 2009 to 2011. “But with our 24/7 news cycle,
everything is reduced to sound bites. Everything is put in its box. And
we’re not having a real conversation.”</p>

<p>She and Brock will take a broader approach, drawing on politics,
economics, religion and science. “We’re taking issues and trying to
look at them from all the different perspectives,” Brock said. “We want
a discussion, not a series of lectures.”</p>

<p>A shortened, four-week version of the course will be offered at the
Jefferson Educational Society. Those sessions begin Sept. 10.</p>

<p>Dahlkemper will by then have returned from the Democratic National
Convention, where she will be part of the Pennsylvania delegation. She
was the first woman elected to represent the state’s 3rd District and
has remained active on various national policy issues.</p>

<p>“She brings the perspective of someone who has been in Congress,”
Brock said. “She has a practical background, and she’s
street-smart.”</p>

<p>Brock, the director of Penn State Behrend’s Institute on the
American Dream, taught at Oxford University for 35 years before
returning to Erie. He is the pastor at First Universalist Church in
Girard.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-08-31T17:19:48Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-now-offering-arts-administration-major">        <title>Penn State Behrend Now Offering Arts Administration Major</title>        <link>https://psbehrend.psu.edu/news-events/news/penn-state-behrend-now-offering-arts-administration-major</link>        <description>Young art majors often list their occupation as “cashier.” It’s a rite of passage for actors, painters and stage designers.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The new Arts Administration major at Penn State Erie, The Behrend
College, offers another option. The interdisciplinary program will
train art-minded students in marketing, management and event planning –
skills that will prepare them for work at auction houses, art
galleries, museums and music companies.</p>

<p>“You can work at your passion, and you can eat, too,” said Dr.
Sharon Dale, associate professor of art history and coordinator of the
program.</p>

<p>The art culture’s shift to niche markets has created jobs.
Pennsylvania has more than 20,000 arts-related businesses, which employ
more than 100,000 people, according to a study by Americans for the
Arts, a nonprofit arts-advocacy group.</p>

<p>Arts administrators are responsible for budgets and staff,
fundraising and public relations. They coordinate volunteers and work
closely with an organization’s board of directors.</p>

<p>The Penn State Behrend program will focus on marketing. “You have to
connect the right audience with the art,” Dale said.</p>

<p>In addition to coursework, which will include modules in music,
theater or visual arts, students will be required to complete two
internships. One will be done on campus, where the student will
organize and stage an arts event. The other will be off campus. The
Erie Art Museum, Erie Philharmonic and the Mendelssohn Choir of
Pittsburgh have agreed to partner with the college on those projects,
as have the Chautauqua Institution, the Brooklyn Museum and Christie’s
in New York.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-08-22T19:13:58Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/dr.-inkyu-kang-named-ohmynews.com-journalist-of-the-year">        <title>Kang Named OhmyNews Journalist of the Year</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/dr.-inkyu-kang-named-ohmynews.com-journalist-of-the-year</link>        <description>Dr. Inkyu Kang, assistant professor of journalism, won Seoul-based news medium OhmyNews.com Journalist of the Year and Best Column of the Year awards.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Dr. Kang has been selected as the "2011 Journalist of the Year."
Kang also won the "Best Column of the Year" award. The awards ceremony
was held on Friday, Feb. 17, 2012 at the OhmyNews headquarters building
in the Digital Media City, Seoul, Korea.</p>

<p>Dr. Kang has contributed to OhmyNews as a foreign correspondent and
Op-Ed columnist since he joined in 2002. Asa technology columnist, he
has taken a unique approach to new media technologies by
contextualizing them in the humanities. His column on online privacy
has received over 1 million page views since it was published in Sept.,
2011, raising awareness about the issue, which is of grave
importance.</p>

<p>OhmyNews has pioneered a new model that combines professional
journalism and participatory journalism. Sinceits launch in 2000, the
Seoul-based news medium has attracted global media attention as "an
exciting innovation in the world of media" (New York Times), "the'
future of journalism"(Newsweek, Guardian}, "50 coolest, Websites 2005"
(TimeLand "the world's most successful example to date of 'citizen
journalism' in action"</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>bxd107</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-05-16T14:59:44Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/tom-noyes-wins-sustainable-arts-foundation-grant">        <title>Creative Writing Faculty Member Tom Noyes Wins Sustainable Arts Foundation Grant</title>        <link>https://psbehrend.psu.edu/news-events/news/tom-noyes-wins-sustainable-arts-foundation-grant</link>        <description>Dr. Thomas Noyes, an associate professor of creative writing at Penn State Erie, The Behrend College, was one of five artists honored with a $6,000 grant from the Sustainable Arts Foundation, a San Francisco-based nonprofit that offers financial support to writers and visual artists who also are parents.  </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>According to its web site, the Foundation’s goal “is to encourage
parents to continue pursuing their creative passion and to rekindle it
in those who may have let it slide. Too often, creative impulses are
set aside to meet the wonderful, but pressing, demands of raising a
family.” Noyes and his wife, AJ, have a daughter, Josie, and son,
Wyatt.</p>

<p>In its awards announcement, the Foundation noted that Noyes’ writing
“impressed us with its quiet tone and understated urgency. Its
environmental undercurrent is timely and important, but the stories are
never ‘issue’ stories; they simply map human relationships in a
compelling way.”</p>

<p>Noyes is working on his third collection of short stories, which
revolves around Great Lakes’ environmental issues. His second story
collection, “Spooky Action at a Distance and Other Stories” (Dufour
Editions, 2008), was a finalist for the Richard Sullivan Prize and the
Grace Paley Prize in Short Fiction.</p>

<p>His first book, “Behold Faith and Other Stories” (Dufour Editions,
2003), was shortlisted for Stanford Libraries’ William Saroyan Prize,
and reviewed favorably in many publications, including the New York
Times Book Review, where it was praised for its “macabre wit and
startling confessions of frailty and delusion.”</p>

<p>Before joining the Penn State Behrend faculty, Noyes taught creative
writing at Indiana State University and at Concordia College in
Moorhead, Minn. He is a consulting editor for Lake Effect, Penn State
Behrend’s national literary journal, and previously worked on the
editorial staffs of Ascent and Quarter After Eight. He earned an M.F.A.
at Wichita State University and Ph.D. at Ohio University.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-05-10T18:58:05Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/programs-events-1/festival-of-writing">        <title>Festival of Writing</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/programs-events-1/festival-of-writing</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<h2 style="text-align: center;"><img alt="Photo for Festival Brochure" class="image-inline" src="../../images/earths_eye_banner_small.png" /></h2>

<h2 style="text-align: center;">Writers, naturalists, bird watchers,
teachers, journal keepers—anyone interested in exploring writing about
the natural world—join us!</h2>

<p>&nbsp;</p>

<p>“A lake is the landscape’s most beautiful and expressive feature. It
is Earth’s eye; looking into which the beholder measures the depth of
his own nature.”--Thoreau</p>

<p>The Bachelor of Fine Arts Program and The School of Humanities &amp;
Social Sciences at Penn State Erie, The Behrend College will host the
first annual festival of writing in and on the natural world Saturday,
September 8. The natural settings for the festival include the Penn
State Erie campus—which is a member of the American Association of
Botanical Gardens and Arboreta and includes more than 175 species of
trees and shrubs—and Presque Isle State Park, a 3,200-acre sandy
peninsula that arches into Lake Erie. Presque Isle offers visitors a
beautiful coastline and Presque Isle Bay, a wide and deep harbor for
the city of Erie. The peninsula is a National Natural Landmark and a
favorite spot for migrating birds. Because of its many unique habitats,
Presque Isle contains a greater number of the state’s endangered,
threatened, and rare species than any other area of comparable size in
Pennsylvania. The award-winning faculty of the BFA in Creative Writing
program at Penn State Erie will be joined for this first annual
festival of writing in and on the natural world by the celebrated
writer Scott Russell Sanders, whose <i>A Conservationist
Manifesto</i>—his vision of a shift from a culture of consumption to a
culture of caretaking—was published on Earth Day 2009. His writing
examines the human place in nature, the pursuit of social justice, the
relation between culture and geography, and the search for an authentic
spiritual path.</p>

<p>The festival includes:</p>

<p>The festival will consist of field work on Presque Isle State Park
and in the natural beauty of the arboretum which is the campus of Penn
State Erie, panel discussions on issues involved in writing in and on
the natural world, a lecture by Scott Russell Sanders and readings by
Scott Russell Sanders and faculty members of the BFA in Creative
Writing program at Penn State Erie.</p>

<p>The $36 registration fee includes transportation and lunch and
dinner. Click the button below to register and purchase tickets.</p>

<p>Registration deadline is August 31, 2012.</p>

<p>&nbsp;</p>

<form action="https://eccapps.ais.psu.edu/PSUCheckout/Checkout" method="post"><input name="MERCHANT_NAME&gt;" type="hidden" value="Earth's Eye Festival" /> <input name="MERCHANT_NUMBER" type="hidden" value="818099369" /> <input name="AMOUNT" type="hidden" value="36.00" /> <input name="TAX" type="hidden" value="0.00" /> <input name="APP_TYPE" type="hidden" value="checkout" /> <input name="DEPOSIT_FLAG" type="hidden" value="A" /> <input name="USERID" type="hidden" value="checkout" /> <input name="PRODUCT" type="hidden" value="Earth's Eye Festival Reservation" /> <input type="submit" value="Click here to Purchase" /></form>

<p>&nbsp;</p>

<p>For more information and updates, like us on Facebook at <a class="external-link" href="http://www.facebook.com/earthseyefestival">facebook.com/earthseyefestival</a>.</p>

<hr />
<p>&nbsp;</p>

<p style="font-weight: bold">Festival Faculty</p>

<p style="font-weight: bold"><img alt="Scott Sanders" class="pull-left" src="../ScottRussellSanders.jpg" /></p>

<p><b>Scott Russell Sanders</b> studied physics and English at Brown
University, graduating in 1967. With the aid of a Marshall Scholarship,
he pursued graduate work at the Cambridge University, where he
completed his Ph.D. in English in 1971. From 1971 until his retirement
in 2009, he taught at Indiana University, from 1995 onward as
Distinguished Professor of English. Among his more than twenty books
are novels, collections of stories, and works of personal nonfiction,
including Staying Put: <i>Making a Home in a Restless World, Wilderness
Plots: Tales About the Settlement of the American Land, In Limestone
Country, The Paradise of Bombs, Writing from the Center,</i> and
<i>Hunting for Hope</i>. His latest books are <i>A Private History of
Awe</i>, a coming-of-age memoir, love story, and spiritual testament,
which was nominated for the Pulitzer Prize, and A Conservationist
Manifesto, his vision of a shift from a culture of consumption to a
culture of caretaking. He has received the Lannan Literary Award, the
Associated Writing Programs Award in Creative Nonfiction, the Great
Lakes Book Award, <i>The Kenyon Review</i> Literary Award, and the
Indiana Humanities Award, among other honors, and has received support
for his writing from the Lilly Endowment, the Indiana Arts Commission,
the National Endowment for the Arts, and the Guggenheim Foundation. The
Society for the Study of Midwestern Literature named him the 2009
winner of the Mark Twain Award, and his essay “Mind in the Forest,”
published in Orion magazine, won the 2009 John Burroughs Award for
Outstanding Nature Essay.</p>

<p>&nbsp;</p>

<p style="font-weight: bold"><img alt="Kim Todd" class="pull-left" src="../KimTodd.jpg" /></p>

<p><b>Kim Todd</b> is the author of <i>Sparrow</i>, a look at the
natural and cultural history of this loved and reviled bird. She is
also the author of <i>Chrysalis: Maria Sibylla Merian and the Secrets
of Metamorphosis</i>, which looks at the life of a pioneering
explorer/naturalist who traveled to South America in 1699 to study
insect metamorphosis. The story also traces ideas about metamorphosis
through time. It was selected as a Montana Book Award honor book, as
one of the best science/technical books of 2007 by the <i>Library
Journal</i>, and as a “Book to Remember” from 2007 by the New York
Public Library. Her first book, <i>Tinkering with Eden: A Natural
History of Exotics in America</i>, tells the stories of non-native
species and how they arrived in the United States, and received the
PEN/Jerard Award and the Sigurd Olson Nature Writing Award and was
selected as one of Booklist’s Top Ten Science/Technical Books for 2001.
Her articles and essays have appeared in <i>Orion, Sierra Magazine,
California Wild</i> and <i>Grist,</i> among other places. She has
taught environmental and nature writing at the University of Montana,
the University of California at Santa Cruz extension, and the
Environmental Writers Institute. She is a senior fellow with the
Environmental Leadership Program, and has given talks at the Harvard
Museum of Natural History, the New England Aquarium, the Getty Museum,
the Commonwealth Club, Yale University, Bowdoin College, Wellesley
College, the University of California (Davis), and many other venues.
She has an M.F.A. in creative nonfiction and an M.S. in environmental
studies, both from the University of Montana, and B.A. in English from
Yale.</p>

<p>&nbsp;</p>

<p style="font-weight: bold"><img alt="George Looney" class="pull-left" src="../GeorgeLooney.jpg" /></p>

<p><b>George Looney's</b> sixth collection of poetry, <i>Monks
Beginning to Waltz</i>, was published by Truman State University Press
in March of 2012, and his fifth, <i>A Short Bestiary of Love and
Madness</i>, was published by Stephen F. Austin State University in
November of 2011. His fourth book of poetry, <i>Open Between Us</i>,
was released in 2010 by Turning Point, an imprint of WordTech
communications. Looney's first book of fiction, <i>Hymn of Ash</i>, won
the 2007 Elixir Press Fiction Chapbook Award and was published in the
spring of 2008. His third book of poetry, <i>The Precarious Rhetoric of
Angels</i>, won the tenth annual White Pine Press Poetry Prize and was
published in the fall of 2005. His first book, <i>Animals Housed in the
Pleasure of Flesh</i>, won the 1995 Bluestem Award. His second,
<i>Attendant Ghosts</i>, was published by Cleveland State University
Press in 2000. In 2001, Pudding House Press published his <i>Greatest
Hits 1990-2000</i> chapbook. His poetry has won a number of awards,
including the 2010 Jeffrey E. Smith Editors’ Prize in Poetry from
<i>The Missouri Review</i> and the 2003 Larry Levis Editors' Award in
Poetry from <i>The Missouri Review</i>, and prizes from <i>Zone 3, New
Letters, The Literary Review</i>, and <i>Flyway: A Literary Review</i>.
He has received a National Endowment for the Arts fellowship and two
grants from the Ohio Arts Council, and, most recently, a $10,000
fellowship from the Pennsylvania Council on the Arts for 2006. His work
has been published in such journals as <i>The Southern Review, New
England Review, The Kenyon Review, Quarterly West, Prairie Schooner,
Alaska Quarterly Review, The Ohio Review, Indiana Review, Ascent,
Connecticut Review</i>, and many others. For eight years he served as
editor-in-chief of <i>Mid-American Review</i>, for which he is now
translation editor. His M.F.A. is from Bowling Green State University.
He is editor-in-chief of <i>Lake Effect</i> and chair of the creative
writing program at Penn State Behrend, and co-founder and co-director
of the Chautauqua Writers' Festival. In 2007, he received Penn State's
Undergraduate Program Leadership Award.</p>

<p>&nbsp;</p>

<p><b><img alt="Tom Noyes" class="pull-left" src="../TomNoyes.jpg" />Tom
Noyes</b> is currently working on his third book, a collection of
stories about environmental disasters and crises set in and around the
Great Lakes Region. His first two books, <i>Spooky Action at a Distance
and Other Stories</i> (Dufour, 2008) and <i>Behold Faith and Other
Stories</i> (Dufour, 2003), have garnered accolades and awards from
such forums as Stanford University Libraries, AWP (The Association of
Writing and Writing Programs) and <i>The New York Times Book
Review</i>. He currently teaches in the BFA program at Penn State
Behrend, where he also serves as a consulting editor for <i>Lake
Effect</i>. Tom has earned degrees in writing and literature from Ohio
University, Wichita State University and Houghton College.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><b><img alt="Aimee Pogson" class="pull-left" src="../AimeePogson.jpg" />Aimee Pogson</b> is a lecturer of Creative
Writing and English. She received a BA in English/Creative Writing from
Penn State Erie in 2006 and an MFA in Creative Writing from Bowling
Green State University in 2009. Her work has appeared in <i>Lake
Effect</i>, the <i>Berkeley Fiction Review</i>, and <i>PANK</i>. Her
essay, “The Dance I Danced for You,” was shortlisted for <i>Best
American Essays 2006</i> and her short story, “Unnatural,” was
nominated for the Pushcart Prize. In addition to teaching, she also
works as an editor at <i>Lake Effect</i>.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>bxd107</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-08-08T14:47:04Z</dc:date>        <dc:type>Page</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->