<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/collections/h-ss-upcoming-events/RSS">
  <title>H&amp;SS Upcoming Events</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-09-15T03:54:09Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/events-on-campus/january-29-cantus-cant-help-but-please-music-lovers"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/january-7-12-auditions-for-the-young-peoples-chorus-of-erie"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/events-on-campus/january-29-cantus-cant-help-but-please-music-lovers">        <title>1/29/2013 12:00 pm - January 29: Cantus Can't Help But Please Music Lovers</title>        <link>https://psbehrend.psu.edu/news-events/events-on-campus/january-29-cantus-cant-help-but-please-music-lovers</link>        <description>Cantus, nine musicians hailed as “the premier men’s vocal ensemble in the United States”  by Fanfare magazine and the winner of Chorus America’s prestigious Margaret Hillis Award for Choral Excellence, will perform at Penn State Erie, The Behrend College, on Tuesday, Jan. 29.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p>Cantus’ appearance in Music at Noon: The Logan Series takes place at noon in the McGarvey Commons of the Reed Union Building. Admission is free and free reserved parking will be available in the Reed lot.</p>
<p><img alt="copy_of_Cantus3.jpg" class="pull-left" src="../../event-photos/copy_of_Cantus3.jpg" />Cantus rehearses and performs without a conductor or music director. The group is frequently praised for adventurous programming that spans both centuries and genres; in The Logan Series Cantus will perform its “On the Shoulders of Giants” repertoire highlighting the indelible cultural mark left by composers ranging from Franz Schubert to John Lennon and Paul McCartney, artists Cantus says “have inspired the ensemble and continue to inspire each generation of new musicians.”</p>
<p>Music at Noon: The Logan Series is making Cantus’ members available to coach young singers at the Erie School District’s Diehl School and in the <a class="external-link" href="http://www.ypcerie.org/">Young People’s Chorus of Erie</a>. “While the noon performances are the series’ public face, educational outreach is our stated mission,” says Dr. Gary Viebranz, the series director and member of Penn State Behrend’s music faculty. “All Logan Series artists perform for the students at Diehl, but Cantus will take that responsibility a step further and tutor aspiring vocalists over their two-day residency in Erie.”</p>
<p>Founded at Penn State Behrend by Warren philanthropist and arts advocate Kay Logan, Music at Noon: The Logan Series’ unique musical outreach has been honored with an Adventurous Programming Award by Chamber Music America and the American Society of Composers, Authors and Publishers. The series receives major support from the Kay Logan Trust and additional funding from the Penn State Behrend Student Activity Fee, Pennsylvania Partners in the Arts, the Erie Arts Endowment of ArtsErie, and Pennsylvania Performing Arts on Tour.</p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>H&amp;SS Event</dc:subject>                <dc:date>2012-12-10T16:26:27Z</dc:date>        <dc:type>Event</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/january-7-12-auditions-for-the-young-peoples-chorus-of-erie">        <title>1/7/2013 8:00 am - January 7-12: Auditions for the Young People's Chorus of Erie</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/january-7-12-auditions-for-the-young-peoples-chorus-of-erie</link>        <description>The Young People’s Chorus of Erie will audition potential new members in January.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p>YPC Erie membership is open to all youth ages 7-18 who demonstrate the ability to match pitch and have a genuine interest in singing. The chorus is divided into four choirs—Cantare for the youngest singers, Concert Chorus for girls and boys with unchanged voices, Chorale for older singers, and Young Men.</p>
<p><img alt="copy_of_2011YPCWinterConcert.jpg" class="pull-right" src="../../event-photos/copy_of_2011YPCWinterConcert.jpg" />The three ensembles for older choristers were medal winners at the 2012 World Choir Games in Cincinnati and have been invited to compete in the elite Champions category at the 2014 World Games in Riga, Latvia. In June 2013 they will make a performance tour of Pennsylvania, Maryland and Washington, D.C.</p>
<p>The auditions will be held at Penn State Erie, The Behrend College, between Monday, Jan. 7, and Saturday, Jan. 12.  Each singer will be asked to perform a song of his or her choice without accompaniment and repeat basic musical patterns. Potential choristers and their parents also will briefly interview with YPC Erie artistic director Dr. Gabrielle Dietrich.</p>
<p>YPC Erie is a youth outreach organization of the School of Humanities and Social Sciences at Penn State Behrend. Auditions for the choirs are held only twice each year; the next opportunity to join will be in September 2013.</p>
<p>Audition appointments can be made by calling the YPC Erie administrative office at 814-898-6789 or by emailing info@ypcerie.org. For more information about YPC Erie, visit ypcerie.org.</p>
<p> </p>
<p> </p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>H&amp;SS Event</dc:subject>                <dc:date>2012-11-20T14:09:25Z</dc:date>        <dc:type>Event</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->