<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/news-announcements/collections/2011-h-ss-news/RSS">
  <title>2011 H&amp;SS News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-09-11T00:14:45Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-announces-first-fulbright-scholar-in-residence"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/longtime-campus-resident-ben-lane-dies"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/in-the-spotlight/ready-for-its-close-up-multimedia-communications-labs-open-in-kochel-center"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-elena-corbett-wins-2011-romano-faculty-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/penn-state-honors-dawn-blasko-with-eisenhower-distinguished-teaching-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/shirey-honored-with-university-wide-alumni-achievement-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dawn-blasko-wins-2011-achieving-women-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/john-gamble-named-chair-of-international-law-association-interest-group-1"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-announces-first-fulbright-scholar-in-residence">        <title>Penn State Behrend Announces First Fulbright Scholar-in-Residence</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-announces-first-fulbright-scholar-in-residence</link>        <description>August 8, 2011 – The 2011-12 academic year will begin Aug. 22 with the addition of Dr. Lili Zhang, the first Fulbright Scholar-in-Residence at Penn State Erie, The Behrend College. Zhang will teach courses in women's studies, sociology, Chinese culture, and educational theory and policy throughout the year and has offered to serve as a guest lecturer in other classes to meet as many students as possible.

</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The Fulbright Scholar-in-Residence (S-I-R) Program assists colleges
and universities in the United States to expand their respective
academic exchange programs. S-I-R supports scholars from outside the
United States through grants to teach at institutions that might not
have a strong international component, benefitting both the U.S.
institution and the scholar.</p>

<p>"Dr. Zhang will offer invaluable support in Penn State Behrend's
strategic efforts to expand our international curriculum, bring
underrepresented perspectives to general education courses, and develop
emerging curricular fields," said Dr. David Christiansen, associate
dean for academic affairs at Penn State Behrend. "Securing a Fulbright
Scholar-in-Residence is a highly competitive process and this truly was
a college-wide effort—many faculty and staff members wrote letters of
support for our proposal. We all look forward to welcoming Dr. Zhang
later this month."</p>

<p>For the fall 2011 semester, Zhang will teach Sociology of Gender, an
interdisciplinary women's studies and sociology course, and
Introduction to Chinese Language and Culture. She plans to teach
Education and the Status of Women, a course in both women's studies and
educational theory and policy, in the spring.</p>

<p>Zhang earned a bachelor's degree in physics and a master's degree in
education from Beijing Normal University. She holds a Ph.D. in
education from the University of Hong Kong. Most recently, she served
as co-founder and head of the Research Center for Multi-Cultural
Education at Beijing Normal University.</p>

<p>Penn State Behrend is Zhang's third educational exchange appointment
in the United States. Previously, she served as a visiting scholar in
the Women's Studies department at University of Michigan to promote
cross-cultural exchange within the discipline. She also co-taught a
course on women's leadership at New Mexico State University.</p>

<p>Zhang's research interests include the career experiences and
job-related stress of female academics and gender-related issues
surrounding teaching secondary education. She wrote a book about the
opportunities and challenges Chinese women face in science and
technology and co-authored "Feminist Research Methods." Zhang also
serves as an educational consultant on gender equity issues, has led
projects in rural western China that teach skills training for at-risk
students, and has participated in a UNICEF project to provide life
skills education for migrant Chinese women.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-08-26T14:52:33Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/longtime-campus-resident-ben-lane-dies">        <title>Longtime Campus 'Resident' Ben Lane Dies</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/longtime-campus-resident-ben-lane-dies</link>        <description>June 19, 2011 – "It is a wonderful experience to live so close to an institution you have watched grow," said Ben Lane, sitting in his yellow house on Jordan Road during a May 2007 interview with the Erie Times-News.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Ben Lane, associate professor of English emeritus at Penn State
Erie, The Behrend College, died Friday, July 15, 2011, at Twinbrook
Medical Center after a brief stay. He was 88.</p>

<p>In 1953, Ben said, "I do," to his wife, Carolyn, and to Penn State
Behrend, a mere five-year-old center nestled on Glenhill Farm, the
estate of Ernst and Mary Behrend.&nbsp; The couple first lived on
campus until later moving to their current home on Jordan Road, and
watched as the college grew around them over the years.</p>

<p>Ben Lane joined the faculty as an instructor in English and German.
Throughout his tenure, he served as associate professor of English and
German, dean of Student Affairs and director of Admissions. Lane
retired in 1985 after 32 years with the college.</p>

<p>To honor his commitment to Penn State Behrend, the Benjamin A. Lane
Outstanding Service Award was established in the spring of 1985. The
award honors a faculty or staff member who has demonstrated outstanding
service and dedication to the college—inside or outside the
classroom—as exemplified by Lane.</p>

<p>After retiring, Lane wrote the book <em>Behrend Remembered</em>, an
informal history of the college, and made the effort to stay connected
to Penn State Behrend.</p>

<p>"We're in the middle of it all right here," Carolyn said in that
same May 2007 interview. "Every window we look out, we see young people
coming and going."</p>

<p>Ben Lane was born on June 13, 1923, in Ashland, Pa. He is survived
by his wife, Carolyn; two daughters, Ann Lane Umbach, and her husband,
David, of Durham, N.C., and Kate Delfino and her husband, Joseph, of
Atkinson, N.H.; two grandsons, Joseph Benjamin Delfino and Nicholas
Perri Delfino of Atkinson, N.H.; sister, Edith Lane Hoffman of Ashland;
and a number of nieces and nephews.</p>

<p>Lane served in the U.S. Army where he operated radios on C-47
aircraft in the Philippines and Australia. He attended Penn State
University Park on the G.I. Bill, and earned bachelor's and master's
degrees in English.</p>

<p>Visiting hours will be held on Tuesday, July 19, from 2 to 5 p.m.
and 7 to 9 p.m., at the Dusckas Funeral Home, Inc., East, 2607 Buffalo
Road. Friends are invited to attend a funeral service on Wednesday,
July 20, at 10:30 a.m., at St. Mark’s Episcopal Church. A full military
service will follow at Wintergreen Gorge Cemetery.</p>

<p>Memorial contributions may be made to St. Mark's Episcopal Church,
4701 Old French Rd., Erie, PA 16509. To send condolences, visit
dusckasfuneralhome.com.</p>

<p>Penn State Behrend is planning a campus memorial service and will
announce details at a future date.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>College News</dc:subject>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2011-09-29T20:27:29Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/in-the-spotlight/ready-for-its-close-up-multimedia-communications-labs-open-in-kochel-center">        <title>Ready for its Close-up: Multimedia Communications Labs Open in Kochel Center</title>        <link>https://psbehrend.psu.edu/news-events/in-the-spotlight/ready-for-its-close-up-multimedia-communications-labs-open-in-kochel-center</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><img alt="Comm Lab" class="pull-right" src="../../../../../news-events/in-the-spotlight/CommLab.JPG" /></p>

<p>Aspiring news anchors and radio hosts can now hone their craft using
the latest media equipment in Penn State Behrend’s new communication
labs.</p>

<p>The labs opened on the first floor of Kochel Center in January after
nine months’ construction. A radio station and control room, a
television studio, and a computer classroom are now in use for courses
in broadcast journalism, production, and design; still under
construction are five editing suites for video pre- and post-production
and a check-out area that gives students access to digital video and
audio recording equipment, lights, microphones, and laptop computers
needed for mobile postproduction editing.</p>

<p>“We realize that nothing is static anymore,” says Mark Steensland,
lecturer in media production. “This lab has been designed to prepare
students for a workplac</p>

<p>e where they’ll need to convey a story or deliver a message in a
digital, multimedia, integrated format.”</p>

<p>In the coming academic year, Internet radio music station WRBV (“We
Are Behrend’s Voice”) and closed-circuit television station PSB-TV will
begin broadcasting from the new facilities on the first floor of Kochel
Center.</p>

<p>&nbsp;</p>

<p><img alt="Comm TV Lab" class="pull-left" src="../../../../../news-events/in-the-spotlight/CommTVLab.gif" /></p>

<p>The PSB-TV set includes a professional broadcast news desk and
backdrop donated by Erie CBS affiliate WSEE,</p>

<p>as well as a chromakey infinity wall. The three-sided set has no
corners or edges and is painted chroma keygreen, making it possible to
digitally layer graphics, backgrounds, or virtual images behind the
on-air talent.</p>

<p>The radio studio is outfitted with the latest in equipment,
including Audioarts D-75 and AIR-3 digital consoles, Sound Forge Pro 10
digital multi-track recording, Tascam CD players, and the ENCO
hard-drive-based automation system, which is the preferred music
scheduling software of major radio and television stations, including
CNN, ESPN, and NBC.</p>

<p>The new media classroom features twenty-six workstations with full
access to Adobe Creative Suite software for video, audio, and graphic
design, and Web-based media development. The workstations drop into the
table when not in use.</p>

<p>Journalism major Elese Merkovsky likes what she sees thus far. The
sophomore interned at WJET-TV, Erie’s ABC affiliate, and feels right at
home in the lab’s new television news studio. “This set-up is very much
like what I worked on at JET,” she says. “It’s great to have it here,
and to learn on the kinds of equipment that are actually being used in
television.”</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>In the Spotlight</dc:subject>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2012-04-20T14:11:58Z</dc:date>        <dc:type>Page</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-elena-corbett-wins-2011-romano-faculty-award">        <title>Dr. Elena Corbett Wins 2011 Romano Faculty Award</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-elena-corbett-wins-2011-romano-faculty-award</link>        <description>May 20, 2011 – Dr. Elena Corbett, an assistant professor of history and Islamic scholar, is the recipient of the 2011 John Romano Faculty Diversity Recognition Award given by Penn State’s Multicultural Resource Center.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Dr. Terrell Jones, vice provost for educational equity, lauded
Corbett’s initiatives to increase student awareness of religious and
cultural diversity at a University Park award ceremony. “She has
designed three new history courses to provide students with opportunity
to understand the religion of Islam and how it ties into the history of
Islamic countries,” he said. “These courses connect history to
contemporary politics and diplomacy, and provide a platform for
students to examine and discuss differing religious beliefs.”</p>

<p>Corbett also is Penn State Behrend’s representative in the
Consortium for Educational Resources in Islamic Studies (CERIS), a
collaboration of academic, nonprofit, and religious organizations in
Ohio, Pennsylvania and West Virginia.</p>

<p>Corbett holds a Ph.D. from the Department of Near Eastern Language
and Civilizations at the University of Chicago, where she specialized
in the history of the modern Middle East. She holds an M.A. from the
same department in Islamic Archaeology. Her research, conducted
primarily in Jordan, combines her interest in Arab intellectual history
and nationalism with her background in archaeology, exploring how
narratives are constructed from remnants of antiquity to give
legitimacy to contemporary national and communal identities.</p>

<p>Corbett came to Penn State Behrend from the U.S. Naval Academy,
where she taught Arabic language and Middle East Studies in the
Department of Language and Culture Studies and served as academic
programs coordinator for the Center for Middle East and Islamic
Studies. She has taught in, designed, managed and led Arabic language
and cultural immersion programs both in the U.S. and abroad.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-09-02T15:10:07Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/penn-state-honors-dawn-blasko-with-eisenhower-distinguished-teaching-award">        <title>Penn State Honors Dawn Blasko With Eisenhower Distinguished Teaching Award</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/penn-state-honors-dawn-blasko-with-eisenhower-distinguished-teaching-award</link>        <description>April 11, 2011 – Dr. Dawn G. Blasko, associate professor of psychology at Penn State Erie, The Behrend College, has received one of Penn State’s two 2011 Milton S. Eisenhower Awards for Distinguished Teaching.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>This University-wide award recognizes excellence in teaching and
student support among tenured faculty employed full time for at least
five years; undergraduate teaching must be a major portion of nominees’
faculty responsibilities. Milton S. Eisenhower, brother of former U.S.
President Dwight D. Eisenhower, served as president of Penn State from
1950 to 1956.</p>

<p>Timothy P. Johnson, associate professor of landscape architecture in
the College of Arts and Architecture, also was honored with the award
this year.</p>

<p>A member of the Penn State Behrend faculty since 1993, Blasko has
taught a wide range of courses in psychology and developed the first
undergraduate general education course in cross-cultural psychology at
Penn State. In this service-learning class, students work with
immigrants or refugees to the United States, tutor international
students or develop lessons for at-risk students in inner-city
schools.</p>

<p>In her classes, one nominator wrote, she views her role as a guide
in a student’s search for new understanding, has high expectations for
herself and her students, and emphasizes active learning by engaging
students in demonstrations related to the course content.</p>

<p>The Eisenhower Award also recognizes Blasko for her leadership roles
in supporting diversity and in promoting educational equity and public
service at Penn State Behrend. She is the recipient of several
teaching, mentoring and service awards— including the <a class="external-link" href="../../../../../news-events/news/dawn-blasko-wins-2011-achieving-women-award/index.html">
2011 Achieving Women Award presented by Penn State’s Commission for
Women</a>—and is the former chair (2006-07) of Penn State’s University
Faculty Senate. Blasko holds the distinction of being the first faculty
member from Penn State Behrend to chair that organization.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-09-14T20:07:39Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/shirey-honored-with-university-wide-alumni-achievement-award">        <title>Shirey Receives University-wide Alumni Achievement Award</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/shirey-honored-with-university-wide-alumni-achievement-award</link>        <description>April 5, 2011 – North East native Melissa Hayes Shirey, a 1997 alumna of Penn State Erie, The Behrend College, is a recipient of the 2011 Penn State Alumni Achievement Award presented by the University's Alumni Association. Shirey is an attorney and founding member at The Family Law Group, LLC, in Erie, which focuses on adoptions, surrogacy matters, guardianships and other family law matters.

</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Established in 2005, the Alumni Achievement Award recognizes Penn
State alumni 35 years of age and younger for their extraordinary
accomplishments. These young alumni demonstrate to students that Penn
State alumni succeed in exceptional fashion at an early age.</p>

<p>Shirey has successfully litigated cases at both the Pennsylvania
trial court level and before the Pennsylvania Superior Court.</p>

<p>Notably, one of Shirey's cases received national media attention and
established Pennsylvania law regarding the custody rights of a
biological parent versus a surrogate. She represented the biological
father and successfully restored custody of triplets to him after the
surrogate assumed custody after their birth. Shirey also worked to
establish a procedure in Erie County to allow birth certificates to
immediately reflect the intended parents' names in surrogacy
births.</p>

<p>"Melissa is a shining example of a young alumna who has succeeded
professionally and dedicated herself to her clients, causes and
community," said Dr. Steven Hicks, director of the School of Humanities
and Social Sciences. "She leads by example with her volunteer efforts,
and shows how alumni can stay connected to Penn State Behrend after
graduation."</p>

<p>Shirey serves on the board of New Blossoms, New Life Foundation, a
non-profit that provides childless families with access to reproductive
technology, and on the Erie County Bar Association’s Board of
Directors. She is an adjunct lecturer in political science at Penn
State Behrend and sits on the college's Political Science Advisory
Board and H&amp;SS Community Advisory Board.</p>

<p>She earned a bachelor's degree in political science from Penn State
Behrend, a master's degree in public administration from Gannon
University and a J.D. from Ohio State University.</p>

<p>Shirey and her husband, Michael '94, '98 M.B.A, live in North East,
and have twin boys, Grant and Gavin.</p>

<p>Shirey is one of 12 Penn State alumni who will be presented with the
2011 Alumni Achievement Award. Each will be honored in a ceremony on
April 8, at the Nittany Lion Inn on the University Park campus, and
will receive a commemorative medal designed by Jeanne Stevens-Sollman
'72g, an internationally recognized artist in the field of medallic
sculpture and a 2007 Penn State Alumni Fellow.</p>

<p>Previous Penn State Behrend alumni honored with this award are
George Dodworth '99 and Dr. Lacresha L. Hall '95.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-09-14T20:17:03Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dawn-blasko-wins-2011-achieving-women-award">        <title>Dawn Blasko Wins 2011 Achieving Women Award</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dawn-blasko-wins-2011-achieving-women-award</link>        <description>March 22, 2011 – Dr. Dawn Blasko will receive the 2011 Achieving Women Award presented by Penn State’s Commission for Women. Blasko is an associate professor of psychology at Penn State Erie, The Behrend College. 
</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Blasko was honored in part for being “a tireless and passionate
supporter and mentor of underrepresented groups, including girls and
disadvantaged adults and youth.” For fourteen years, she has been a
volunteer and presenter for the Math Options Day and Math Options
Summer Camp events that Penn State Behrend hosts for seventh- and
eighth-grade girls. She developed and teaches the Our Spatial World
curriculum offered in conjunction with the college’s summer Minority
College Experience and Women in Science and Engineering (MCE/WISE)
program, and volunteers for the 21st Century Kids program, which
encourages and supports the college ambitions of middle-schoolers from
rural areas.</p>

<p>Blasko also chairs the coordinating committee for the college’s
minor in Civic and Community Engagement. This minor offers students the
opportunity to apply their major study in a way that provides
real-world benefit to the community.</p>

<p>Blasko’s record of scholarship includes&nbsp;twenty-eight articles
in referred journals in the disciplines of psychology, engineering, and
public scholarship, two book chapters, and over 100 paper
presentations. She is a reviewer for eight professional journals, and
consulting editor for the <em>Journal of General Psychology</em>. Her
current research interest is developing web-based evaluation of and
training to improve spatial skills in female high school and college
students. These advanced spatial skills are particularly useful to
students studying or hoping to study in the STEM (science, technology,
engineering and math) disciplines. In addition to her research on
mental imagery and spatial skills, she also studies the use and misuse
of creative and emotional language such as metaphor and sarcasm.</p>

<p>A longtime member of Penn State’s University Faculty Senate, Blasko
holds the distinction of being the first faculty member from Penn State
Behrend to chair that organization.</p>

<p>Blasko will be honored by the <span class="external-link">Commission
for Women</span> at a ceremony on the University Park Campus to be held
on Friday, April 15.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-09-14T20:17:53Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/john-gamble-named-chair-of-international-law-association-interest-group-1">        <title>Gamble Named Chair of International Law Association Interest Group</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/john-gamble-named-chair-of-international-law-association-interest-group-1</link>        <description>February 2, 2011 – Dr. John Gamble, distinguished professor of political science and international law, has been named chair of the International Law Association’s new Teaching of International Law Interest Group.

 </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The ILA was founded in Brussels in 1873 to study, clarify and
develop public and private international law, and to further
understanding for and respect of international law. The 3,700-member
organization, now headquartered in London, has consultative status for
a number of specialized agencies within the United Nations.</p>

<p>For the past ten years, Gamble has served as rapporteur, or vice
chair, of the ILA’s Committee on the Teaching of International Law. He
is a past vice president of the American Society of International Law,
the ILA’s U.S. branch organization.</p>

<p>Gamble has taught at Penn State Behrend since 1976 and is the author
or editor of more than a dozen books and 50 articles. His current
research interest is the creation of the Comprehensive Statistical
Database of Multilateral Treaties; with assistance from Penn State
Behrend undergraduate students, the project is researching all
multinational treaties dating to 1500 and categorizing each according
to 40 variables to create a searchable database. Thus far, the project
has collected 350,000 data points and been the subject of eight student
Honors theses, 11 conference papers co-written with 20 undergraduate
students, nine journal articles co-written with students, and
presentations at Oxford, Cambridge and Leiden universities, among
others.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                <dc:date>2011-09-14T20:19:48Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->