@media print {
section.block-community-tags-0 { display:none !important;}
  body{
      background: #fff;
    color: #000;
    font-size: 8pt;
    line-height: 150%;
    margin: 0px;}
body.front div.region-carousel {margin:0px !important;padding:0px !important;width:100% !important;}
body.front div.list-group-item a {font-size:16px;color:#000 !important;}
body.front div.news {margin-bottom:10px !important;}
 div#logos,div#slogan { display:none;}html.js body.front h4.list-group-item-heading a {color:#3178C4 !important;}
 body.front h4.list-group-item-heading {color:#3178C4 !important;}
 div.region-content { width: 100% !important;margin:0px !important;padding:0px !important;}
div#header {
     background: none repeat scroll 0% 0% #ffffff ! important;
}body.front img {margin:0px;padding:0px;width:100%;}
 a[href]:after {
    content: none;
  }ul#social {display:none;}
  ul#frontnav { display:none;}
div#header.clearfix div#behrend.container div#brand.row {

}
div.flex-caption { background:#FFF !important;font-size:14px !important;color:#000 !important;}
div#quickbar {display:none;}
.hidden-print {display:none;}
iframe,img#wordmark,img#logo-shield {
     display: none;
}ul.tabs--primary {display:none;}section#block-menu-devel,section#block-modr8-delta-0,section#block-masquerade-masquerade {display:none;}
h1.page-header {margin-left:0px !important;padding-left:0px !important;margin-bottom:5px !important;color:#225094 !important;font-size:3em;}
ol.breadcrumb {display:none !important;}
div.region-sidebar-first,div.region-sidebar-second,div#footer,div#search,div#mainmenu {display:none !important;}
div.content {margin-top:0px !important;}div.news, div.events {
     border: 1px solid #000000;

}

}
