<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-business/news-information/school-of-business-news/RSS">
  <title>School of Business News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-07-21T12:57:48Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/behrend-economist-sees-good-times-ahead-if-we-avoid-fiscal-cliff"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/irs-simulation-gives-desk-bound-accounting-students-new-options"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/behrend-students-take-reins-of-100k-investment-fund"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-business-program-earns-national-ranking"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-economist-sees-promise-in-local-job-numbers"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-named-exclusive-provider-of-oracle-boot-camp"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/in-the-spotlight/black-school-of-business-at-the-forefront-of-enterprise-resource-planning-nationwide"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/conference-takes-on-brain-gain-drain-and-higher-education-in-erie"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-students-score-in-top-10-percent"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/cfco-presents-financial-cent-for-high-school-students"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/financial-literacy-center-features-new-name-focus"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-program-ranked-by-princeton-review-1"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/james-kurre-named-aces-educator-of-the-year"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/global-invesment-team-ready-for-challenge"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-syed-saad-andaleeb-named-distinguished-professor"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/behrend-economist-sees-good-times-ahead-if-we-avoid-fiscal-cliff">        <title>Behrend Economist Sees Good Times Ahead -- If We Avoid 'Fiscal Cliff'</title>        <link>https://psbehrend.psu.edu/news-events/news/behrend-economist-sees-good-times-ahead-if-we-avoid-fiscal-cliff</link>        <description>The Erie-region economy has continued to expand, even as employers cut jobs in August, September and October, according to the latest Erie Leading Index, which was released today. The local data shows no evidence of another recession in the months ahead.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The job losses are likely a temporary setback, said Jim Kurre, an
associate professor of economics at Penn State Erie, The Behrend
College, and director of the Economic Research Institute of Erie.
Previous job growth was so strong – 1,300 positions were added in June
alone, and 1,300 more opened in July – that total job numbers are still
higher than at the same time in 2011.</p>

<p>Other data in the index, which tracks eight key economic indicators,
including the U.S. interest rate spread, the TS Freight Index and the
S&amp;P 500, suggest good times are ahead. The index has grown in 10 of
the last 12 months. It was last at this level well before the latest
recession, which began in 2007.</p>

<p>“We are doing better now than before the recession started,” Kurre
said. “So we can afford a brief downtick, so long as we resume the
upward trend soon.”</p>

<p>He believes we will. The index, which is sponsored in part by
Marquette Savings Bank, shows no sign of another recession on the
horizon.</p>

<p>Political infighting could change that, however. A failure to
negotiate the looming “fiscal cliff” could rattle economic markets as
Americans react to higher tax bills.</p>

<p>The effect won’t be instant, Kurre said. But it could have a real
impact.</p>

<p>“It’s not as if we’re going to jump off, and suddenly the economy is
in free-fall,” he said. “But it will slow the economy down. If the tax
increases kick in, people are going to have less income and are likely
to reduce spending. And then unemployment goes up.</p>

<p>“At this point, we have a lot of uncertainty, which is bad for the
economy,” Kurre said. “We haven’t had a fiscal cliff in the past. We
don’t know how badly people will react to it."</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-12-12T16:28:15Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/irs-simulation-gives-desk-bound-accounting-students-new-options">        <title>IRS Simulation Gives Desk-Bound Accounting Students New Options</title>        <link>https://psbehrend.psu.edu/news-events/news/irs-simulation-gives-desk-bound-accounting-students-new-options</link>        <description>John Wells is first through the door, his gun drawn, his badge out, his adrenaline up. He has a warrant.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>He wants the receptionist to move away from her computer. But he’s
laughing. It could be the gun, which is plastic, and pink. It does sort
of ruin the effect.</p>

<p>It could be that he’s new to this – not an actual police agent, but
a student. An accounting major, of all things.</p>

<p>“This whole exercise definitely opened my eyes,” he will say later,
during a debriefing with the real agents. “All the stereotypes against
accountants have just totally been proven wrong.”</p>

<p>That was the real purpose of the Penn State Behrend IRS Project, a
daylong simulation coordinated by the Internal Revenue Service’s
Criminal Investigation division. The 19 students who participated got
to try the CI life: They questioned suspects, examined financial
records and arrested two actors – agents who volunteered for the
handcuffs – after a surveillance exercise on the Burke Center loading
dock.</p>

<p>“It’s a way to give them some insight into what we do,” said Michael
Montanez, acting assistant special agent in charge of the IRS CI
division. “It’s accounting work, but it’s not typical accounting.”</p>

<p>Agents made that point early, issuing each student a badge and
plastic “red gun.”</p>

<p>One team also got a buttonhole camera, which students wore to a
meeting with a tax-hiding bar owner. Meilyng Gonzalez Adams, a junior,
sat in on that interview.</p>

<p>“We’re all trying to figure out what we want to do with our
accounting degrees,” she said afterward, as agents reviewed footage
from the camera. “This is a good hands-on way to explore a different
aspect of it.”</p>

<p>The IRS criminal division employs more than 4,000 people. Agents
investigate tax crimes, violations of the Bank Secrecy Act and the
financial aspects of narcotics and counterterrorism cases. The work
requires a mix of law enforcement skills and accounting expertise.</p>

<p>The students selected for the Penn State Behrend IRS Project already
had the accounting background. The simulation gave them a taste of the
other work.</p>

<p>Brandon Smith, an M.B.A. student, was assigned to the team that
searched the offices of the Sam and Irene Black School of Business. He
barged in behind John Wells and his warrant.</p>

<p>Smith has worked as a cost accountant, and as a controller. The
criminal work was a bit more fun.</p>

<p>“I sit behind a desk all day,” he said, removing his police vest.
“So I can totally get into this.”</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-12-18T20:43:55Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/behrend-students-take-reins-of-100k-investment-fund">        <title>Behrend Students Take Reins of $100K Investment Fund</title>        <link>https://psbehrend.psu.edu/news-events/news/behrend-students-take-reins-of-100k-investment-fund</link>        <description>The best way to teach business students to be prudent with investments is to give them some real money to spend.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>“When you’re working with a mock portfolio and you mess up, there’s
no damage done,” said Vincent Intrieri, a 1984 graduate of Penn State
Erie, The Behrend College. “But when it’s real money, with real
consequences, you focus. You can’t explain it away, saying, ‘Oh, well.
My model didn’t work so well.’”</p>

<p>Intrieri, senior managing director of Icahn Capital Management, put
up $100,000 to test the real-money premise. His gift launched Penn
State Behrend’s first student-managed investment fund, which is being
run by juniors and seniors in Hunter Holzhauer’s Portfolio Management
and Analysis class. Students bought the first of approximately 50
stocks in late October.</p>

<p>Any profits will be reinvested in the fund, which will be measured
against the S&amp;P 500 and other indexes. Money that is lost is gone
forever.</p>

<p>“You feel that responsibility,” said Amy Rice, a senior from North
East. She is in charge of picking health-care stocks for the fund.</p>

<p>“Before, when we were working with models, it just seemed like
Monopoly money,” she said. “Now, you feel an obligation – ethically,
professionally, everything. It’s more than your reputation on the
line.”</p>

<p>As a result, the students are being more cautious. “They aren’t
talking about investing in crazy unknown South American mineral mines,”
Holzhauer, an assistant professor of finance, said. “When they actually
have a real investment strategy that includes risk management, and when
real money is at stake, they automatically get more conservative.”</p>

<p>They also get more interest from potential employers. The fund gives
students a real-world example of their investment work – a starting
point for a discussion of investment strategies.</p>

<p>“I’ve been interviewing,” said Jim Keeley, a senior from Imperial
and president of the fund. “And every one of these employers, when they
see this on my resume, asks, ‘What’s this about?’”</p>

<p>That leads to longer conversations, which reveal a key lesson that
already has been learned: The student investors – even the seniors, who
are soon leaving – are in this for the long-term.</p>

<p>“Going into this, everybody thinks, ‘Yeah, we’ll find the next
Apple, and we’ll all be millionaires,’” Keeley said. “But it doesn’t
work that way. You look for little wins. You hit singles and doubles,
and you build on them, and you go from there.</p>

<p>“We’re being careful,” he said. “No one wants to be the guy who
tanks the portfolio and ruins this for the students coming up behind
us."</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-11-13T15:12:02Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-business-program-earns-national-ranking">        <title>Penn State Behrend Business Program Earns National Ranking</title>        <link>https://psbehrend.psu.edu/news-events/news/penn-state-behrend-business-program-earns-national-ranking</link>        <description>The Sam and Irene Black School of Business at Penn State Behrend is listed in the Princeton Review’s “Best 296 Business Schools: 2013 Edition.”</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Publisher Robert Franek calls the school “one of the best
institutions a student could attend to earn an MBA.”</p>

<p>Schools are selected based on academics, job-placement rates and
admissions selectivity. A Princeton Review survey of 19,000 students –
including those enrolled at Penn State Behrend – added context about
campus life and students’ career plans.</p>

<p>“Our listing in the Princeton Review is confirmation that we offer
business programs to our students that are among the best not only in
academics, but also in student life and environment and career
services,” said John Magenau, director of the Sam and Irene Black
School of Business. “We value this because it is based in part on
student feedback, and it shows that the experiences our students have
here are positive.”</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-10-22T21:03:02Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-economist-sees-promise-in-local-job-numbers">        <title>Penn State Behrend Economist Sees Promise in Local Job Numbers</title>        <link>https://psbehrend.psu.edu/news-events/news/penn-state-behrend-economist-sees-promise-in-local-job-numbers</link>        <description>More people are working in the Erie region than at any time since the start of the 2007 recession, according to the latest Erie Leading Index, which was released Oct. 1.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>“This is good news,” said Jim Kurre, an associate professor of
economics at Penn State Erie, The Behrend College, and director of the
Economic Research Institute of Erie. “We’ve gained back all of the jobs
that we lost in this last recession and are moving into new
territory.”</p>

<p>Approximately 1,400 local jobs were added in June, Kurre said. That
increase – 1.04 percent of the total workforce – was the highest in
five consecutive months of job growth.</p>

<p>The June unemployment rate for Erie was still high, at 7.6 percent.
Other local economic indicators are strong, however: Manufacturing
employment increased, and workers in that sector spent more than 40
hours a week on the job, on average. That suggests the need for even
more workers in the future.</p>

<p>The index, which is sponsored in part by Marquette Savings Bank,
also tracks the real money supply and the U.S. Index of Coincident
Indicators. Both improved in May and June.</p>

<p>For that reason, Kurre is “cautiously optimistic” about the local
economy in the coming year. “We don’t see a downturn in the next six
months to a year,” he said.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-10-09T14:32:44Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-named-exclusive-provider-of-oracle-boot-camp">        <title>College Named Exclusive Provider of Oracle Boot Camp </title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-named-exclusive-provider-of-oracle-boot-camp</link>        <description>September 2, 2011 – Penn State Erie, The Behrend College, is the first college or university in the world authorized to provide the Oracle Supply Chain Boot Camp—a six-week online course designed to quickly and efficiently train Oracle Partner Network members on the ins and outs of an Enterprise Resource Planning (ERP) system.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>An ERP system coordinates an organization's
information—manufacturing, financial, human resources, supply chain
management, and more—in a single database.<br />
<br />
"Penn State Behrend is considered a leader in ERP systems," said Frank
DeWolf, director of the college's ERP Center of Excellence, an outreach
center of the Sam and Irene Black School of Business. "We offer ERP
undergraduate courses and a certificate through the Black School of
Business plus workforce development courses utilizing Oracle's ERP
system.<br />
<br />
"We are honored to be an Oracle Partner Network Delivery Partner, and
the first institution to deliver this training," he added.<br />
<br />
Oracle, a Fortune 200 company, offers the boot camp exclusively to its
more than 20,000 partners, including IBM, Deloitte and Capgemini. The
course covers Oracle inventory, purchasing and order management, and
provides participants with a foundation of Oracle E-Business Suite
supply chain management modules.<br />
<br />
DeWolf along with Brian Zentis and Chris Wassel, senior research
support associates, team-teach the boot camp. Thirty people are
expected to enroll in the upcoming session, scheduled to begin this
month.<br />
<br />
</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-09-02T14:55:56Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/in-the-spotlight/black-school-of-business-at-the-forefront-of-enterprise-resource-planning-nationwide">        <title>Black School of Business at the Forefront of Enterprise Resource Planning Nationwide</title>        <link>https://psbehrend.psu.edu/news-events/in-the-spotlight/black-school-of-business-at-the-forefront-of-enterprise-resource-planning-nationwide</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><img alt="ERP Center" class="pull-right" src="../ERPCenter.jpg" />ERP is BIG in the Black School of
Business. The recent addition of enterprise resource planning
certification for Oracle software makes the school the first to offer
ERP education and certification for both Oracle and SAP software
systems.</p>

<p>“Oracle’s commitment is big for us,” said Frank DeWolf, director of
the school’s ERP Center of Excellence. “It shows that they recognize
what we are building here in ERP in the Black School now.”</p>

<p>Dr. John Magenau, director of the Black School of Business, says
that “in addition to SAP and Oracle programs, the school is integrating
ERP into the undergraduate MIS program and building on extensive
workforce development and outreach activities in the community.”</p>

<p>The addition of ERP certification for Oracle software is just the
latest in a string of developments that’s putting the Black School of
Business in a leadership position nationwide in the rapidly growing
area of enterprise resource planning.</p>

<p>When Penn State President Dr. Graham Spanier spoke at the dedication
of the REDC—now the Burke Center— four years ago, he talked about how
well the facility fit into the University’s goal of becoming the best
in the county at the integration of teaching, research, and service.
The idea of identifying special areas of interest and expertise to form
into “centers of excellence” is a key part of the long-term planning
for the college, and the Sam and Irene Black School of Business has
been a leader in that effort.</p>

<p>Director John Magenau says that it is “important to leverage the
many strengths we already have, and to put special emphasis on those
areas where we have an established leadership position.”</p>

<p>Frank DeWolf plays a major role in two of those areas, Radio
Frequency Identification, where he was the founding director of the
school’s RFID Center of Excellence, and the ERP Center of Excellence he
leads now.</p>

<p>“An ERP system coordinates an organization’s
information—manufacturing, financial, human resources, supply chain
management, and more—in a single database, and RFID is a major part of
supply chain management,”</p>

<p>Magenau explains, “so it makes sense to have those centers working
closely together.”</p>

<p>On the workforce development and outreach side, a rural outsourcing
effort in the ERP Center of Excellence has resulted in the creation of
thirty new jobs already, and DeWolf says that the goal is to add 200
more over the next couple of years. “This is a valuable program in
which jobs that might otherwise be going overseas are instead ending up
in rural areas of this region,” DeWolf said.</p>

<p>On the academic side, besides adding Oracle and expanding the SAP
course offerings, Frank DeWolf ’s team also rolled out ERP courses on
Penn State’s online World Campus last year.</p>

<p>“So to the more than sixty MIS and supply chain management students
who have been taking the SAP training every year, we are now adding all
the students taking our World Campus courses, plus those who will be
enrolled in our three new Oracle-focused MIS courses,” DeWolf said.</p>

<p>All this growth, he said, is a very positive development, not just
for the college and its students, but for the entire region.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>In the Spotlight</dc:subject>                    <dc:subject>School of Business</dc:subject>                <dc:date>2012-04-20T14:09:58Z</dc:date>        <dc:type>Page</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/conference-takes-on-brain-gain-drain-and-higher-education-in-erie">        <title>Conference Takes on Brain Gain, Drain and Higher Education in Erie</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/conference-takes-on-brain-gain-drain-and-higher-education-in-erie</link>        <description>June 30, 2011 – Convinced that the Erie region is hemorrhaging young professionals? The results of a recent study might prove otherwise.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Dr. James Kurre, associate professor of economics at Penn State
Erie, The Behrend College, will release the findings of "Brain Gain and
Brain Drain from Erie's Local Colleges" at this year's Economic
Research Institute of Erie (<a class="external-link" href="http://behrend.psu.edu/eriedata/">E.R.I.E.</a>) Conference.</p>

<p>The conference, titled "Brain Gain and Brain Drain: The Importance
of Higher Education and Erie's Creative Class," will be held Monday,
July 25, beginning at 8 a.m. in the Samuel P. "Pat" Black III
Conference Center, located on the first floor of the Jack Burke
Research and Economic Development Center at Penn State Behrend.</p>

<p>This is the institute's ninth conference dedicated to the economic
health of the Erie region. It is open to the public and historically
has drawn support from the region’s top government officials, senior
level executives and others interested in Erie's future. Parking will
be available in the deck adjacent to Burke Center and in the Junker
Center lot on campus.</p>

<p>Kurre, director of E.R.I.E. and conference organizer, conducted the
study using 10 years of data (2000-2009) on 17,000 graduates of Penn
State Behrend, Gannon University and Edinboro University—students'
hometowns, where they are now, and how those geographical choices
relate to their educational and demographic characteristics. Results
compare graduates' majors, GPA, gender and race, offering a snapshot of
which demographics are more likely to stay or leave.</p>

<p>Kurre will also present his current state of the Erie economy and an
overview of higher education in the Erie area.</p>

<p>Featured speaker Dr. Jaison Abel, a senior economist for the Federal
Reserve Bank of New York, will discuss how higher education and human
capital impact a region’s economic development.&nbsp;</p>

<p><strong>Erie Vital Signs to Sponsor Keynote Speaker</strong></p>

<p>This year's keynote speaker is Steven Pedigo, director of research
for Creative Class Group. His lunchtime presentation "Why Place Matters
for Erie" is sponsored by <a class="external-link" href="http://www.erievitalsigns.org/">Erie Vital Signs</a>. Pedigo will
discuss the concept of a creative class—the diverse mix of people and
occupations in a particular area—and how that creative class impacts
the local economy, with an emphasis on the importance of higher
education.&nbsp;</p>

<p>Erie Vital Signs is a collaboration of the Erie Community
Foundation, the Nonprofit Partnership, United Way of Erie County and
the Erie Regional Chamber and Growth Partnership. Brain gain is one of
eight key indicators that Erie Vital Signs plans to monitor in the next
decade.</p>

<p>New to this year's conference are voluntary, afternoon breakout
sessions that will discuss Erie and Creative Class Group's concept of
the Four T's—talent, technology, tolerance and territorial assets.
These sessions will offer an opportunity to talk about Erie's
circumstances relative to brain gain, brain drain and higher education,
and how the community can address them.</p>

<p>For more information or to register, call 814-898-7149 or visit <a class="external-link" href="http://behrend.psu.edu/eriedata/">ERIEdata.org</a>. Those
registering by Friday, July 15, can take advantage of early bird
conference rates: $129 for a standard registration or $65 for
nonprofit, government and economic development officials. After July
15, conference rates increase to $149 and $75, respectively. Attendees
who buy two registrations will receive a third free.</p>

<p>Registration includes conference materials, the latest edition of
the E.R.I.E. Guide to the Erie Economy, plus breakfast and lunch.</p>

<p>The Economic Research Institute of Erie (E.R.I.E.) is an applied
research unit of the Sam and Irene Black School of Business at Penn
State Behrend. E.R.I.E. collects, analyzes, interprets and disseminates
data, information and forecasts for the regional economy, helping to
place Erie's economic situation within the context of the larger
national and international picture. E.R.I.E. also serves as a resource
for local leaders and media, offering impartial access to and
evaluation of economic data.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                    <dc:subject>College News</dc:subject>                <dc:date>2011-09-02T15:05:21Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-students-score-in-top-10-percent">        <title>MBA Students Score in Top 10 Percent</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-students-score-in-top-10-percent</link>        <description>June 10, 2011 – For the second year in a row, students enrolled in the Master of Business Administration program at Penn State Erie, The Behrend College, scored in the top 10 percent on the most recent ETS Major Field Test, a comprehensive national assessment for program evaluation.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>"These results once again speak to the quality of our students,
faculty and curriculum," said Dr. Al Warner, director of the MBA
program. "This is the third time in four years that Penn State Behrend
students have earned this recognition."</p>

<p>MBA students in the Sam and Irene Black School of Business earned a
mean test score that placed the college's MBA program in the 90th
percentile of 130 institutions nationwide.</p>

<p>In total, 13 of the college's 50 MBA students who took the Major
Field Test scored at or above the 90th percentile of the 4,787 students
who took the exam. Penn State Behrend students' scored an average of
262; total scores for the MBA test are reported on a scale of 220 to
300.</p>

<p>Administered by Educational Testing Service—the same company that
creates the SAT, GRE and AP exams—Major Field Tests measure students'
mastery of particular areas of study. The MBA Major Field Test consists
of 124 multiple-choice questions, half of which are based on short
case-study scenarios. Most of the questions require knowledge of
specific information drawn from marketing, management, finance and
managerial accounting, or a combination of these.</p>

<p>The Black School of Business was listed by U.S. News and World
Report in its Best Grad Schools 2012 and was named among "The Best 300
Business Schools," as ranked by the Princeton Review.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-07-22T20:11:48Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/cfco-presents-financial-cent-for-high-school-students">        <title>CFCO Presents Financial Cent$ for High School Students</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/cfco-presents-financial-cent-for-high-school-students</link>        <description>April 13, 2011 – Nearly 800 high school students will spend tax day making "sense" of financial literacy, in recognition of April being National Financial Literacy Month.
</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>On Friday, April 15, the Center for Financial and Consumer Outreach
(CFCO) at Penn State Erie, The Behrend College, will partner with the
Erie School District to present "Financial cent$ for high school
students," a daylong event where trained volunteers provide financial
education to students in the classroom.</p>

<p>Dozens of volunteers, including Penn State Behrend students and
community leaders, will present age-appropriate financial lessons on
budgeting, credit cards and debt to high school freshmen and seniors at
Central Tech, East and Strong Vincent.</p>

<p>"This is a great way to give back to the community and,
particularly, make an educational investment in Erie's inner city high
schools," said Erica Jackson, CFCO director. "We couldn't do this
without the help of our individual volunteers and their
organizations."</p>

<p>Volunteers include students from Penn State Behrend's Sam and Irene
Black School of Business as well as representatives from United Way,
Wells Fargo, First Niagara Bank, PA CareerLink, WICU, WSEE, Pathways to
Post Secondary Education and the Pennsylvania Securities
Commission.</p>

<p>Established in 2004, the Center for Financial and Consumer Outreach
is an outreach center of the Sam and Irene Black School of Business at
Penn State Behrend. Its outreach initiatives focus on basic financial
needs and financial literacy—earning a living, spending, saving,
credit, and money management—and are designed for students in middle
school through college. In addition, the CFCO offers a range of
programs and resources for the general community, teachers and parents.
Visit <a href="http://www.behrend.psu.edu/cfco">www.behrend.psu.edu/cfco</a> for
more information.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-04-13T20:30:24Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/financial-literacy-center-features-new-name-focus">        <title>Financial Literacy Center Features New Name, Focus</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/financial-literacy-center-features-new-name-focus</link>        <description>November 9, 2010 – The Center for Financial and Consumer Outreach (CFCO)—formerly the Center for Credit and Consumer Research—at Penn State Erie, The Behrend College, has a new name and a new focus.
</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>"We had started with a primary objective of researching credit card
usage habits, particularly among vulnerable populations," Erica
Jackson, CFCO director, said. "Our name change reflects a change in
concentration—from research to outreach—and our focus on all facets of
financial literacy."</p>

<p>Established in 2004, CFCO is an outreach center of the Sam and Irene
Black School of Business at Penn State Behrend. Its outreach
initiatives focus on basic financial needs and financial
literacy—earning a living, spending, saving, credit, and money
management—and are designed for students in middle school through
college.</p>

<p>The center is dedicated to helping people choose and use financial
services successfully, and has reached more than 20,000 individuals
since its inception.</p>

<p>Notably, CFCO's Live S3 Game Show is a family-feud style online game
that teaches participants how to save, spend and succeed (S3) while
delivering the information and skills necessary for smart money
management and career choices. "The interactive learning programs we’ve
developed are all designed to be fun and engaging, to capture a young
person’s interest," Jackson said.</p>

<p>CFCO offers a range of financial tools on its Web site for students,
teachers, parents and the general community alike. Visit <a class="external-link" href="http://cccr.psu.edu/">behrend.psu.edu/cfco</a> for more
information.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                    <dc:subject>Research &amp; Outreach</dc:subject>                <dc:date>2011-02-28T18:22:40Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-program-ranked-by-princeton-review-1">        <title>MBA program ranked by Princeton Review</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/mba-program-ranked-by-princeton-review-1</link>        <description>October 13, 2010 – The Sam and Irene Black School of Business at Penn State Erie, The Behrend College, has been named among "The Best 300 Business Schools," as ranked by the Princeton Review. The New York-based education services company features the Black School of Business in its 2011 edition (Random House/Princeton Review, $22.99).

</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>"The Best 300 Business Schools: 2011 Edition" has two-page profiles
of the schools with descriptions of their academics, admissions, career
placement services and student life.</p>

<p>Those students who were surveyed cited Penn State Behrend's MBA
program as "the best value for a working student in the local area."
Students interviewed agree that Penn State Behrend enjoys "an
outstanding reputation" and is "the best school, academically, for the
region."</p>

<p>The Princeton Review compiled the list based on its surveys of
19,000 students attending the 300 business schools, and on
school-reported data. The Princeton Review does not rank the schools on
a single hierarchical list from one to 300, or name one business school
best overall.</p>

<p>Those interested in learning more about Penn State Behrend's MBA
program are invited to attend an information session on Tuesday, Oct.
19. The session begins at 6 p.m., and will be held in the college's new
Robert and Sally Metzgar Admissions and Alumni Center. For more
information or to register, visit behrend.psu.edu/mymba or contact Ann
Burbules, graduate admissions counselor, at 814-898-7255 or <a href="mailto:amb29@psu.edu">amb29@psu.edu</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-08-18T17:33:47Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/james-kurre-named-aces-educator-of-the-year">        <title>James Kurre Named ACES' Educator of the Year</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/james-kurre-named-aces-educator-of-the-year</link>        <description>February 24, 2010 – Dr. James Kurre, associate professor of economics in the Sam and Irene School of Business at Penn State Erie, The Behrend College, has been named Educator of the Year by the Americans for the Competitive Enterprise System (ACES).</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Kurre received the award at a mid-February dinner. ACES, a nonprofit
that promotes understanding of free market economics to students,
teachers, and the general public through business-educator
partnerships, honors one educator a year for his or her commitment to
the American free enterprise system.</p>

<p>Kurre is a past winner of the Penn State Teaching Fellow Award and
the Guy W. Wilson Award for Excellence in Advising, and is a two-time
recipient of the Penn State Behrend Council of Fellows Excellence in
Teaching Award.</p>

<p>In addition to his teaching duties, Kurre also is director of the
Economic Research Institute of Erie (ERIE). ERIE collects, analyzes,
interprets and disseminates data, information and forecasts for the
regional economy, helping to place Erie’s economic situation within the
context of the larger national and international picture. ERIE also is
a resource for local leaders and media, offering impartial access to
and evaluation of economic data.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-02-28T18:22:50Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/global-invesment-team-ready-for-challenge">        <title>Global Investment Team Ready for Challenge</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/global-invesment-team-ready-for-challenge</link>        <description>January 28, 2010 -- Five students in the Sam and Irene Black School of Business will compete as the college’s 2010 Global Investment Challenge (GIC) team.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>GIC is a program of the Chartered Financial Analyst (CFA) Institute
that offers university business and finance students a unique
opportunity to research, analyze, and report on a company as if they
are practicing analysts. All participants are introduced to and held to
the standard of the CFA Institute Code of Ethics and Standards of
Professional Conduct.</p>

<p>2010 GIC team members are:<br />
<strong>Alexandria Reszkowski</strong>, a senior finance major from
Erie<br />
<strong>Angelo Talarico</strong>, a senior accounting major from
Dunmore, Pa.<br />
<strong>Bradley Nagel</strong>, a senior finance major from West
Alexander, Pa.<br />
<strong>Jeffrey Starr</strong>, a senior finance major from Erie<br />
<strong>Eric Lumsden</strong>, an M.B.A. student from Erie</p>

<p>Penn State Behrend’s GIC team will make its presentation in early
February at a regional competition hosted by the CFA Society of
Pittsburgh. The presentation will be evaluated by a panel of heads of
research, portfolio managers, and chief investment officers. The GIC
team chose to analyze ANSYS, the Canonsburg-based pioneer of
engineering simulation software.</p>

<p>“Global Investment Challenge teams are paired with an expert in the
field to add to the real-world security analysis experience,” Dr. Greg
Filbeck, professor of finance and Penn State Behrend’s GIC coordinator,
says. “Having already presented research before a panel of financial
analysts and portfolio managers gives our students an edge over the
competition when they look for employment.”</p>

<p>The GIC Championship will be held in April in Hong Kong.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                <dc:date>2011-02-28T18:22:53Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-syed-saad-andaleeb-named-distinguished-professor">        <title>Dr. Syed Saad Andaleeb Named Distinguished Professor</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/dr.-syed-saad-andaleeb-named-distinguished-professor</link>        <description>January 28, 2010 – Dr. Syed Saad Andaleeb has been named distinguished professor of marketing by Penn State’s Office of the President. This rare honor recognizes Andaleeb’s prominent profile as a teacher in the Sam and Irene Black School of Business at Penn State Erie, The Behrend College, and as a scholar and researcher within South Asia’s international development community.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Dr. Syed Saad Andaleeb has been named distinguished professor of
marketing by Penn State’s Office of the President. This rare honor
recognizes Andaleeb’s prominent profile as a teacher in the Sam and
Irene Black School of Business at Penn State Erie, The Behrend College,
and as a scholar and researcher within South Asia’s international
development community.</p>

<p>Andaleeb’s research investigates the roles society, politics, and
business play in the economic growth of developing countries,
particularly his native Bangladesh. For ten years he has edited the
Journal of Bangladesh Studies, a multidisciplinary periodical that
reaches both policy makers in developing countries and top-tier
research institutions, including Cambridge University, Princeton,
Columbia, Berkeley, Cornell and Illinois. He is a member of the Board
of Trustees of the American Institute of Bangladesh Studies, a
consortium of U.S. universities involved in research and promotion of
educational exchange between the United States and Bangladesh.</p>

<p>As president of the Bangladesh Development Initiative (bdiusa.org),
Andaleeb has twice chaired an international conference at Harvard
University’s John F. Kennedy School of Government that draws American
and Bengali scholars, government officials, foreign and domestic policy
makers, and international media.</p>

<p>“These conferences not only bring together international scholars
with similar research interests, but also yield significant practical
consequences because research results are presented to influential
academic and commercial institutions, and widely publicized in the news
media in Bangladesh,” one faculty member wrote in a letter of support
for Andaleeb’s nomination to distinguished professorship. “This is the
kind of international education that really matters, where the
dissemination of research findings potentially play a positive role in
improving public policy, and, ultimately, human welfare.”</p>

<p>A two-time winner of the Fulbright Senior Specialist award, Andaleeb
also been a member of the program’s Discipline Peer Reviewing
Committee. During his Fulbright projects, he mentored and trained young
academics at BRAC University in Dhaka in modern research and
statistical methods. By helping to develop research capacity, Andaleeb
says, “faculty in developing countries can engage in indigenous
knowledge-generation rather than be completely dependent on borrowed
knowledge from Western sources.”</p>

<p>Within the Black School of Business, Andaleeb teaches upper-level
courses in global marketing, service marketing, and marketing research,
and is a past winner of the Graduate Student Association’s Professor of
the Year award. A prolific writer and consultant, he has provided
consulting services to the World Bank and a number of economic- and
social-development programs overseen by the United Nations. Locally,
Andaleeb and his students have provided research and consulting
services to the Community Blood Bank of Northwest Pennsylvania, Better
Baked Foods, Hamot Health Center, Scott Enterprises, and the Loyal
Christian Benefit Association.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Business</dc:subject>                    <dc:subject>College News</dc:subject>                <dc:date>2011-02-28T18:22:53Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->