<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletters/RSS">
  <title>Political Science Newsletters</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2012-05-02T15:28:09Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-october-2012"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-nov-2012"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-october-2012">        <title>Political Science Newsletter-October 2012</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-october-2012</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p style="text-align: left;"><span style="font-weight: bold;">THIS
MONTH'S HEADLINES:</span></p>

<p><a class="anchor-link" href="#Washington DC trip"><strong>PL SC 177
AND SPRING BREAK TRIP TO WASHINGTON DC</strong></a></p>

<p><a class="anchor-link" href="#Faculty in News"><strong>FACULTY IN
THE NEWS</strong></a></p>

<p><a class="anchor-link" href="#Student Group News"><strong>STUDENT
GROUP NEWS</strong></a></p>

<p><a class="anchor-link" href="#Election Day"><strong>ELECTION
DAY</strong></a></p>

<p style="font-weight: bold"><a id="Washington DC trip" name="Washington DC trip"></a>PL SC 177 AND SPRING BREAK TRIP TO
WASHINGTON, DC</p>

<p>The political science program will be sponsoring a student trip to
Washington, DC over Spring Break 2013 (March 2-10). The trip is a
required portion of the course PL SC 177 (GS).&nbsp;The class is taught
by Dr. Robert Speel, associate professor of political science at Penn
State Behrend.<br />
<br />
 The exact itinerary will not be determined until February next year,
but on past such trips, the group has met with our members of Congress,
with officials at the International Monetary Fund, the World Bank, the
Organization of American States, and the embassies of Australia,
Romania, Botswana, India, Ireland, Canada, Jamaica, Estonia and
Indonesia. We have toured the White House, the Pentagon, the State
Department, the Department of Justice, the US Capitol, the Library of
Congress, the National Archives, and the C-SPAN studios. We have
participated in seminars held in the Supreme Court chambers, Ford's
Theatre, and the Federal Reserve Board room (where they make decisions
about interest rates).&nbsp;&nbsp;Among the highlights of the trip will
be meetings or tours with Penn State Behrend alumni who work on Capitol
Hill, for federal government agencies, or as top political consultants
in Washington.<br />
<br />
 We always visit Arlington National Cemetery and all the most famous
monuments and memorials. Free time is provided to visit museums such as
the Newseum, the International Spy Museum, the US Holocaust Memorial
Museum, and the various Smithsonian Museums, as well as the National
Zoo. Students have also attended major sports and entertainment events
in Washington, DC during the evening. Students should be aware that
most of the places we visit during the week are only available to
student groups in Washington and not to individual tourists. Some of
the places we visit may provide the only opportunity some will have in
their lives to tour certain government buildings or meet with certain
officials in Washington.<br />
<br />
 The trip is associated with the political science course PL SC 177
(GS), and students will be required to sign up for either a three
credit or one credit version of the course in order to take the
trip.&nbsp;&nbsp;The three credit version of the course will involve
weekly class meetings before and after the trip, to be held on Tuesdays
or Thursdays at 4:00 p.m..&nbsp;&nbsp;The class meetings will last
about an hour.&nbsp;&nbsp;We will meet twice a week for part of
February and then end early in April. Most of the time in Washington is
also considered class time.&nbsp;&nbsp;In addition, the three credit
version of the class will involve assigned readings, quizzes, some
research, and short papers appropriate for a three credit course.
&nbsp;<br />
<br />
 The one credit version of the course will include participation in the
trip and a 10-page paper to be written after the trip.&nbsp;&nbsp;It is
intended for students who would like to participate in the trip to
Washington, but who don't necessarily need a three credit political
science course.&nbsp;<br />
<br />
 The three credits or one credit can be used for both the political
science major and minor in the subfields of American government or
international politics. The course can also be used to fulfill the
"Crime and Public Policy" area requirement for the Crime, Psychology,
and Public Policy certificate. And students in all majors can use the
course to fulfill GS general education requirements.&nbsp;Some majors
will allow the course to fulfill other specific requirements. The
course and trip are open to students in all majors.&nbsp;There is no
prerequisite.<br />
<br />
 In Washington our group will stay at the Virginian Suites hotel (<a href="http://www.virginiansuites.com/">www.virginiansuites.com</a>).&nbsp;The
hotel is located in Arlington, VA, just across the Potomac River from
Washington, and is a brief walk from a Washington Metro (subway)
stop.&nbsp;Each room in the hotel contains two queen-sized beds, a pull
out sofa bed, a full kitchen, television, furniture, private bathroom,
and closet space.&nbsp;A chartered bus will transport students between
campus and Washington.&nbsp;&nbsp;<br />
<br />
 Dr. Nicole Shoenberger, assistant professor of sociology, will be
joining us on the trip.&nbsp;<br />
<br />
 The cost for the trip, per student, for 8 nights stay in the hotel and
the bus transportation to Washington, will be $350 for students who
stay 3 to room (by utilizing the sofa-bed) and who are among the first
20 students to turn in non-refundable deposits and required forms. It
is possible that there will be space in the hotel for more than 20
students, but students who sign up later may need to pay $500 in total
instead of $350. The low cost of the week in Washington is thanks to
financial support from the School of Humanities and Social Sciences
Endowment Fund and from the Office of the Penn State Behrend Senior
Associate Dean for Research and Outreach.</p>

<p>Students will also be responsible for their own food and incidental
expenses while in Washington, including subway tickets.&nbsp;Students
will be able to eat meals cheaply in their rooms if they prefer by
using the kitchens present in each room. We will generally go to lunch
at area food courts.&nbsp;Students should plan on bringing or having
available approximately $200 in personal spending money.&nbsp;ATM bank
machines are available at the hotel and throughout
Washington.&nbsp;Penn State students registered full-time in Spring
2013 will incur no additional tuition costs for the course or
trip.<br />
<br />
 Brochures with a full explanation of the trip are available at the
School of Humanities and Social Sciences office (170 Kochel). To
register for the trip and course, students must submit a non-refundable
deposit in the form of cash, check, money order, or credit card in the
amount of $150 to Penn State University, along with a completed course
registration form, course fee form, emergency contact form, and
background information form, to Jackie May in the School of H&amp;SS
Office, 170 Kochel, by November 29, 2012 &nbsp;The forms are available
from Dr. Speel &nbsp;or the H&amp;SS School Office.</p>

<p>The $150 will serve as a non-refundable deposit to reserve a space
on the trip.&nbsp;The remaining cost of the trip will be due to Jackie
May by January 25, 2013.<br />
<br />
 For more information about the trip and course, pick up a copy of the
brochure, or email Dr. Speel (<a href="mailto:rws15@psu.edu">rws15@psu.edu</a>) with any questions.</p>

<p style="font-weight: bold"><a id="Faculty in News" name="Faculty in News"></a>FACULTY IN THE NEWS</p>

<p><strong>Dr. Zachary Irwin</strong> will be attending and presenting
papers at two conferences in November. &nbsp;In Oslo, Norway, at a
conference about Kosovo held at the Oslo Peace Research Institute, he
will present a paper titled "NATO and the Campaign in Kosovo,"
&nbsp;and in New Orleans, at the Annual Conference of the Association
for Slavic, East European, and Eurasian Studies, he will present a
paper titled, "Religious Orthodoxy, Civil Society, and Identity."</p>

<p><strong>Dr. Robert Speel</strong> has been interviewed for two
articles in the <i>Erie Times-News</i> in the past few weeks about the
final weeks of the presidential campaign and about the impact of
presidential debates on undecided voters.</p>

<p style="font-weight: bold"><a id="Student Group News" name="Student Group News"></a>STUDENT GROUP NEWS</p>

<p>The&nbsp;<strong>College Republicans</strong> meet on Mondays at
5:30 p.m. in the back of Bruno's near the TV. &nbsp;For more
information or to join, contact CR President Nick Loukides at&nbsp;<a href="mailto:njl5091@psu.edu">njl5091@psu.edu</a>.</p>

<p>The&nbsp;<strong>College Democrats</strong> meets on certain
Thursdays at 7:30 p.m. in the back of Bruno's near the TV. &nbsp;For
more information or to join, contact CD President Ayodele Osibodu
at&nbsp;<a href="mailto:aqo5025@psu.edu">aqo5025@psu.edu</a>.</p>

<p>The&nbsp;<strong>Political Science Society</strong> meets every
other Wednesday at 6 p.m. in Kochel 057. For more information or to
join, contact PSS President Katrina Cowart at&nbsp;<a href="mailto:kfc5040@psu.edu">kfc5040@psu.edu</a>.</p>

<p style="font-weight: bold"><a id="Election Day" name="Election Day"></a>ELECTION DAY</p>

<p>The SGA will be sponsoring a shuttle for students who live on campus
or at University Gates to get to their polling place on Election Day,
November 6. &nbsp;The shuttle will leave from the front of the Reed
Building. To find out more, stop by the RUB Information Desk in
Reed.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                <dc:date>2012-11-16T14:31:06Z</dc:date>        <dc:type>Page</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-nov-2012">        <title>Political Science Newsletter-December 2012</title>        <link>https://psbehrend.psu.edu/school-of-humanities-social-sciences/academic-programs-1/political-science/newsletter-1/political-science-newsletter-nov-2012</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p style="font-weight: bold">THIS MONTH'S HEADLINES:</p>

<p style="font-weight: bold"><a class="anchor-link" href="#Graduating Seniors">GRADUATING SENIORS</a></p>

<p style="font-weight: bold"><a class="anchor-link" href="#Faculty in the News">FACULTY IN THE NEWS</a></p>

<p style="font-weight: bold"><a class="anchor-link" href="#Student Group News">STUDENT GROUP NEWS</a></p>

<p style="font-weight: bold"><a class="anchor-link" href="#Student Research">STUDENT RESEARCH</a></p>

<p style="font-weight: bold"><a class="anchor-link" href="#Happy Holidays">HAPPY HOLIDAYS</a></p>

<p>&nbsp;</p>

<p style="font-weight: bold"><a id="Graduating Seniors" name="Graduating Seniors"></a>GRADUATING SENIORS</p>

<p>If they complete all course requirements, four Penn State Behrend
political science majors and four Penn State Behrend political science
minors are scheduled to graduate this month. The four majors include
<b>Nyok John</b>, <b>Casey Graml</b>, who is a double major in history,
<b>Devin Pierre</b>, who is a double major in economics, and <b>Erik
Huet</b>, who is a double major in psychology at the Penn State
Harrisburg campus. The four minors include <b>Jason Kirklin</b>, a
marketing major, <b>Emily Kotermanski</b>, an accounting major,
<b>Christal Lepak</b>, a history major, and <b>Kristan Russell</b>, a
psychology major.</p>

<p>Among the majors, Nyok is applying to graduate school, and Casey and
Devin are thinking about graduate school for the future, while looking
for work related to their majors in the meantime. Devin will be looking
in locations like Philadelphia and Washington, while Casey has applied
for a number of opportunities.</p>

<p>We wish all our graduating seniors best wishes for the future and
are confident that they will join our large group of political science
alumni with successful and rewarding careers.</p>

<p style="font-weight: bold"><a id="Faculty in the News" name="Faculty in the News"></a>FACULTY IN THE NEWS</p>

<p><b>Dr. Kilic Kanat</b> has published three columns in Turkish
newspapers in the past month: one about President Obama's visit to
Burma/Myanmar and one about the Congress of the Chinese Communist
Party, both published in <i>Star</i>, and one about the foreign policy
outcomes of the US election, published in <i>Zaman</i>. In addition,
Dr. Kanat gave a lecture about Turkish-Israeli relations at Syracuse
University, presented a paper on the transformation of Turkish foreign
policy at a Conference on the Tenth Anniversary of the Justice and
Development Party at New York University, and is about to present
another paper on China's foreign policy toward Central Asia at The
George Washington University.</p>

<p style="font-weight: bold"><a id="Student Group News" name="Student Group News"></a>STUDENT GROUP NEWS</p>

<p>Penn State Behrend student groups are planning their Spring
Semesters.</p>

<p>The <b>Mock Trial Team</b> will become an active campus organization
next semester. They will be meeting regularly and will be looking over
a mock case and building attorney teams within Behrend that will
compete against each other at the end of the semester in a Behrend Mock
Trial tournament, where local attorneys who serve on the Behrend
Political Science Advisory Board will be among the judges. For more
information contact President Zhihang (Woodrow) Dong at <a class="mail-link" href="mailto:zzd5031@psu.edu">zzd5031@psu.edu</a> or
Vice President Adam Terragnoli at <a class="mail-link" href="mailto:alt5295@psu.edu">alt5295@psu.edu</a>.</p>

<p>The <b>College Republicans</b> will be selling t-shirts next
semester with a blue outline of President Nixon on the front and a
Nixon quote on the back that says "I played by the rules of politics as
I found them." The group will also be working with the Erie County
Republican Committee to bring speakers to campus, For more information
or to join, contact CR President Nick Loukides at <a class="mail-link" href="mailto:njl5091@psu.edu">njl5091@psu.edu</a>.</p>

<p>The <b>College Democrats</b> is thinking up ideas for next semester.
For more information or to join, contact CD President Ayodele Osibodu
at <a class="mail-link" href="mailto:aqo5025@psu.edu">aqo5025@psu.edu</a>.</p>

<p>The <b>Political Science Society</b> will be organizing current
events discussion forums and forums about internships and graduate
school opportunities. For more information or to join, contact PSS
President Katrina Cowart at <a class="mail-link" href="mailto:kfc5040@psu.edu">kfc5040@psu.edu</a>.</p>

<p style="font-weight: bold"><a id="Student Research" name="Student Research"></a>STUDENT RESEARCH</p>

<p><b>Nick Loukides</b> and <b>Lauren Kolb</b> are both working on
their honors thesis topics. Nick will be researching and writing about
the evolving parenthood of the European Economic Community in its
treaty-making powers. He will discuss the evolution of the EEC/EU in
its ability to sign treaties on behalf of its member states, its
evolution in quantity of treaties signed, and its evolution in types of
treaties signed. Lauren will be researching and writing about the
treatment of women's issues in international law. She will describe
international feminist theory, and relate this to patterns in
multilateral treaty making through use of the Comprehensive Statistical
Database of Multilateral Treaties. She hopes to understand/explain
these patterns and their importance and possibly make realistic
suggestions about future action to further a more global acceptance of
gender equality and the security of basic rights for women.</p>

<p>Political science major <b>Chris Marchini</b> and Management major
<b>Jess Scutella</b> are preparing research on the relationship between
Republican held seats, in both the legislative and executive branch, to
demonstrate their effects on defense sector market shares. The purpose
is to analyze what influence party politics have in regards to any
increase or decrease with defense sector market share compared to the
general market. They are hoping to present their findings at a research
conference next semester.</p>

<p style="font-weight: bold"><a id="Happy Holidays" name="Happy Holidays"></a>HAPPY HOLIDAYS</p>

<p>We wish you all good luck with your final exams, a happy holiday
season, and an enjoyable (though short) two-week break!</p>

<p>&nbsp;</p>

<p style="font-weight: bold">See other recent <a class="internal-link" href="../political-science-newsletters/index.html"><span class="internal-link">Political Science Newsletters</span></a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                <dc:date>2012-12-14T18:53:28Z</dc:date>        <dc:type>Page</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->