<span style='color: #000'>115 frames</span>	<span style='color: #900'>45,824 KB</span>	<span style='color: #090'>2,906.23 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />