<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-engineering/news-announcements/engineering-announcements/RSS">
  <title>Engineering News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-02-23T15:39:25Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/behrend-students-bring-no-bias-to-design-of-cell-phone-game"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/behrend-to-offer-industrial-engineering-major-beginning-in-fall-2013"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/mascot-tries-to-power-up-game-developers-club"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/21.7-million-gift-provides-penn-state-behrend-students-with-full-access-to-autodesk-software"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/erie-firm-gives-equipment-to-penn-state-behrend-plastics-lab"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/time-warner-cable-donation-supports-behrend-lego-competitions"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-and-fmc-technologies-open-world-class-design-center"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/supermileage-team-wins-international-competition"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/when-is-a-smiling-man-not-happy"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/engineering-design-conference-to-showcase-student-work"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/students-and-software-rescue-draft-horses-from-slaughter"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/new-medical-plastics-center-links-industry-academia-and-research"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/efforts-garner-600-000-nsf-grant-1-million-in-scholarships"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/catherine-franks-honored-with-young-professional-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/school-of-engineering-ranked-by-u.s.-news"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/behrend-students-bring-no-bias-to-design-of-cell-phone-game">        <title>Behrend Students Bring no Bias to Design of Cell-Phone Game</title>        <link>https://psbehrend.psu.edu/news-events/news/behrend-students-bring-no-bias-to-design-of-cell-phone-game</link>        <description>To understand the concept of confirmation bias, you just have to finish this pattern: 2, 4, 6, …</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Say “eight,” and you’re showing bias. The given numbers tell you too
little about the pattern’s structure to know for certain where it’s
headed: Do the numbers have to be even, and increase by two? Or do they
just have to increase?</p>

<p>Without asking, you can’t know the answer. You unconsciously rule
out any options that do not support the choice you believe to be true –
in this case, that you’re counting by twos. That’s confirmation
bias.</p>

<p>“The trick is to step back, and to be aware of whatever bias you
bring to a given scenario,” said Stephen Chalker, a software
engineering major at Penn State Erie, The Behrend College. “But it’s
hard to remember to do that.”</p>

<p>He and two other students – Joe Grise and Kit Torrelli, also
software engineering majors – have been practicing. Their senior
capstone project is to develop a mobile version of “The Mind’s Lie,” a
bias-teaching game designed by Kristan Wheaton, an associate professor
of intelligence studies at Mercyhurst University. They hope to expand
the game, which is played in a classroom setting, to include anyone,
anywhere, with a cell phone.</p>

<p>Wheaton designed “The Mind’s Lie” to teach students to be conscious
of cognitive biases, which can cloud decision-making. Players are given
a scenario and asked to identify one of six kinds of bias that might be
present. They earn points for voting with the majority or, during a
discussion, for convincing others that a different answer is
correct.</p>

<p>Wheaton, a proponent of game-based learning, believes the game will
appeal to corporate trainers and military planners.</p>

<p>“It can help you know when you’re being lied to,” he said. “If
you’re a natural scientist, and you’re doing a bunch of studies, the
data you get is pretty clear. Protons don’t lie. Neutrons don’t lie.
But in the intelligence field, where you’re working with foreign
governments, people sometimes do lie to you.”</p>

<p>The game works better with a large group of people, Wheaton said. A
mobile version would open it to even wider use. But the design does
bring some challenges.</p>

<p>“There’s a class dynamic when you play in person,” Wheaton said.
“You see the body language. You hear the passion when people make their
arguments. And right or wrong, that factors into your decision.”</p>

<p>“It’s a bit like poker,” said Chalker, whose work is being
supervised by Matthew White, lecturer in game development at Penn State
Behrend. “You spend a lot of time watching, wondering who will be the
weak link.”</p>

<p>The Penn State Behrend group, which is building the game for the
Android platform, likely will use some kind of chat function to
encourage discussion, with a real-time ranking of players’ answers.</p>

<p>“We can’t have them all sitting around a single phone,” Chalker
said. “If you did, you wouldn’t need this.”</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2013-01-15T19:46:34Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/behrend-to-offer-industrial-engineering-major-beginning-in-fall-2013">        <title>Behrend to Offer Industrial Engineering Major Beginning in Fall 2013</title>        <link>https://psbehrend.psu.edu/news-events/news/behrend-to-offer-industrial-engineering-major-beginning-in-fall-2013</link>        <description>Design engineers often focus on the details of a project: the thickness of a filing cabinet’s walls, or the stiffness of the drawers.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Students in the new Industrial Engineering major at Penn State
Behrend will take a wider view. Their studies, which can lead to jobs
in health care, manufacturing, transportation and inventory control,
teach them to pinpoint inefficiencies in workflow and other
interconnected business and manufacturing systems.</p>

<p>The work is challenging. It requires a foundation in science,
mathematics, economics and engineering principles, plus an
understanding of the human factor, including work habits and customer
expectations.</p>

<p>“Industrial engineers need to have a high level of people skills,”
said Russ Warley, chairman of the mechanical and industrial engineering
program at Penn State Behrend. “They’re not just going to be sitting at
a desk, crunching numbers and analyzing components. They’re going to be
leading teams and designing systems.”</p>

<p>Students in the new major, which will open in the fall of 2013, will
have classes in calculus, ergonomics, linear programming and
statistical methods. Senior-level design projects will give them
hands-on experience with industry partners.</p>

<p>The students will be much in demand after graduation. The need for
industrial engineers is expected to increase by 14 percent by 2018,
according to the U.S. Bureau of Labor Statistics. The jobs pay well:
The mean annual wage for an industrial engineer is $80,000, and those
in the petroleum, oil and gas and mining sectors often earn far more,
according to the Bureau of Labor Statistics.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-12-17T20:16:10Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/mascot-tries-to-power-up-game-developers-club">        <title>Mascot Tries to Power-Up Game Development Certificate and Club</title>        <link>https://psbehrend.psu.edu/news-events/news/mascot-tries-to-power-up-game-developers-club</link>        <description>Three steps out of the office, Matt Campbell already is tugging at the bottom of his Mario costume.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>“They only had a medium,” he says.</p>

<p>He keeps walking. For more than 30 years, starting with “Donkey
Kong,” where he jumped barrels and dodged fireballs, Nintendo’s super
plumber has overcome all sort of obstacles: grinders, spikes, inkblots,
push walls, turtle shells. A wedgie won’t stop him.</p>

<p>Campbell’s goal is to cross the Penn State Behrend campus, posting
flyers and talking up the college’s new Game Design and Development
certificate. Matthew White, lecturer in game development, computer
science and software engineering, asked him to do it.</p>

<p>White has been scheduling Wednesday open houses in the gaming lab in
Burke 152. He sets out a collection of niche games – Elder Sign, Small
World, Settlers of Catan, King of Tokyo – ices some Mountain Dew,
gathers a few players and props the door open.</p>

<p>“We’re trying to get people in to learn about the program,” he says.
“It’s not all scary programming code. There’s an element of that, but
it’s not everything we do.”</p>

<p>This week, he’s teaching a free seminar on the UNITY game engine.
Participants will be able to make their own game in two hours.</p>

<p>Campbell, a junior from Edinboro, is the felt-hatted roving
ambassador. He’s a walking cartoon: red shirt, blue overalls and a fat
black chimney-sweep’s mustache. When he approaches, students laugh.</p>

<p>Campbell is OK with that. He has had worse jobs.</p>

<p>“It’s like phone canvassing for a political candidate,” he says. “If
they’re on board, people are going to go along with it. They’ll give
you a couple minutes. If they aren’t, they just want you to go
away.”</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-11-26T15:53:31Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/21.7-million-gift-provides-penn-state-behrend-students-with-full-access-to-autodesk-software">        <title>$21.7 Million Gift Provides Full Access to Autodesk Software</title>        <link>https://psbehrend.psu.edu/news-events/news/21.7-million-gift-provides-penn-state-behrend-students-with-full-access-to-autodesk-software</link>        <description>Students at Penn State Erie, The Behrend College, will have unprecedented access to world-class animation and modeling software thanks to a gift, valued at $21.7 million, from Autodesk, a leading global developer of 3D design, engineering and entertainment software.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><object data="http://www.youtube.com/v/yuSIHDYLYQA?version=3&hl=en_US&rel=0" height="315" style="float: right;" type="application/x-shockwave-flash" width="420"><param name="allowFullScreen" value="true">
<param name="allowscriptaccess" value="always">
<param name="src" value="http://www.youtube.com/v/yuSIHDYLYQA?version=3&amp;hl=en_US&amp;rel=0">
<param name="allowfullscreen" value="true">
</object></p>

<p>This is the first time Autodesk has provided full access to its top
products through a grant of software to a college or university. The
gift – the largest ever at Penn State Behrend – will give students
access to three key software suites:</p>

<p>• Education Master Suite, which includes advanced 3D CAD and
engineering analysis tools</p>

<p>• Simulation Moldflow, a fast, accurate and flexible design tool for
plastic injection molding</p>

<p>• Entertainment Creation Suite, which was used to animate the last
17 films that won the Academy Award for Best Visual Effects</p>

<p>Faculty members in the college’s School of Engineering and
professors in chemistry, psychology, game design and management
information systems already are using the software. Every student and
faculty member at Penn State Behrend has access to it.</p>

<p>Students also can become certified in Autodesk Simulation Moldflow
by taking an exam that will be administered annually on campus.</p>

<p>“Graduates of Penn State Behrend and its School of Engineering have
enjoyed a rich employment track record, and with access to this
software, they will be even better positioned for success,” said Ralph
Ford, director of the School of Engineering. “This gift will also
support the future growth of Penn State Behrend as we develop new
interdisciplinary programs that fuse the humanities, the arts and
advanced digital technologies.”</p>

<p>The Autodesk products will jump-start the college’s digital arts,
media and technology initiative, which blends film and video game
development with other advanced simulation work. Penn State Behrend’s
K-12 STEM outreach efforts, including the Math Options, Upward Bound
and Women in Engineering programs, also will use the software.</p>

<p>“Partnering with Penn State Behrend allows us to put sophisticated
simulation software into the hands of future engineers, scientists and
artists,” said Tom Cameron, vice president of manufacturing sales at
Autodesk. “This significant partnership reinforces our commitment to
providing students and educators with the resources they need to
inspire the next generation of professionals.”</p>

<p>The Autodesk gift also advances the University’s current fundraising
campaign, For the Future: The Campaign for Penn State Students. That
initiative is the most ambitious in Penn State’s history, with a goal
of securing $2 billion by June 2014.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>College News</dc:subject>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-11-12T20:36:02Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/erie-firm-gives-equipment-to-penn-state-behrend-plastics-lab">        <title>Erie Firm Gives Equipment to Penn State Behrend Plastics Lab</title>        <link>https://psbehrend.psu.edu/news-events/news/erie-firm-gives-equipment-to-penn-state-behrend-plastics-lab</link>        <description>An Erie company has donated an injection-molding machine to the School of Engineering at Penn State Erie, The Behrend College.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>It took some work to get it there. The machine weighs about 3.5
tons. It has been fitted with a Star robot, also donated by the company
– Plastikos Inc. – and its sister business, Micro Mold Co. The robot
interface will allow the machine to be used in automation classes,
which are held in the Plastics Engineering Technology lab in the Jack
Burke Research and Economic Development Center.</p>

<p>The equipment will give students experience on tools that are used
in production environments. That should give them an advantage at
graduation as they enter the job market, said Rob Cooney, the
manufacturing manager at Plastikos, which produces parts for the
military, automotive, electronics and medical industries.</p>

<p>Plastikos replaced the machine with a newer electric model. The
company regularly upgrades its equipment to meet the changing needs of
customers.</p>

<p>“It ran very well for us,” said Cooney, a 2001 graduate of the
plastics engineering technology program at Penn State Behrend. “And in
a lab setting, it will still do well. But our higher-volume production
demands from customers are a little bit beyond it.”</p>

<p>The machine is equipped with several advanced options, including a
core-pull system and eDART, which monitors consistency in molds. “Not
all of our machines have these options, so it gives us a good deal more
flexibility in the types of molds we can run here,” said Lucy Lenhardt,
senior research associate.</p>

<p>That, in turn, can benefit Plastikos. The company already has hired
seven graduates of Penn State Behrend’s plastics engineering technology
program. Cooney and others at the company hope to offer more students
internships and co-op experiences, which often lead to full-time
employment.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-09-14T20:38:05Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/time-warner-cable-donation-supports-behrend-lego-competitions">        <title>Time Warner Cable Donation Supports Behrend LEGO Competitions</title>        <link>https://psbehrend.psu.edu/news-events/news/time-warner-cable-donation-supports-behrend-lego-competitions</link>        <description>Time Warner Cable has donated $2,000 to support the Engineering K-12 Outreach Center and the FIRST LEGO League, an annual youth robotics program at Penn State Erie, The Behrend College. The company announced the gift on Friday, Sept. 7.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>FIRST LEGO League competitions encourage critical thinking and
teamwork. Students build and use LEGO-based robots to complete specific
tasks: to grab or knock down a certain block, for example, or to
navigate a LEGO bridge.</p>

<p>The competitions, which are designed for students between the ages
of 9 and 14, are held in 61 countries. This is the second year that
Penn State Behrend has hosted an event.</p>

<p>This year’s Erie competition will be held Nov. 10 at the Junker
Center. The theme – “Senior Solutions” – will ask students to identify
and adapt to mobility issues and other challenges that often arise in
later years of life. Using automated robots, they will try to spin a
pinwheel and topple toy bowling pins.</p>

<p>“The FIRST LEGO League program is a great way for students to learn
how important science, technology, engineering and math skills are in
their everyday lives,” said Melanie Ford, lecturer in Engineering and
head of the college’s Engineering K-12 Outreach Center. “It promotes
teamwork, research, trial-and-error testing and other lessons these
students will be able to apply for the rest of their lives.”</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Research &amp; Outreach</dc:subject>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-09-11T13:36:17Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/penn-state-behrend-and-fmc-technologies-open-world-class-design-center">        <title>Penn State Behrend and FMC Technologies Open World-Class Design Center</title>        <link>https://psbehrend.psu.edu/news-events/news/penn-state-behrend-and-fmc-technologies-open-world-class-design-center</link>        <description>A $500,000 expansion at FMC Technologies Measurement Solutions, an Erie-based manufacturer of precision metering products for the oil and gas industry, will provide hands-on job training – and job offers – to engineering students at Penn State Erie, The Behrend College.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The new, 2,000-square-foot engineering Design Center will boost the
Erie division’s role in FMC Technologies’ global subsea engineering
work. When fully staffed, the center will employ 12 interns from Penn
State Behrend. They will spend 20 hours each week at FMC Technologies,
with the option of working full-time during the summers.</p>

<p>The center builds on a 10-year partnership between FMC Technologies
and Penn State Behrend. The college has provided 30 interns to the
company's engineering department during that period; seventeen went on
to accept full-time positions at the company after graduation.</p>

<p>“We are proud of our strong and longstanding relationship with Penn
State Behrend and its School of Engineering,” said Jim Ertl, vice
president and general manager of FMC Technologies’ Erie-based
operation. “We are both leaders in our respective disciplines, and this
Design Center allows us to provide tomorrow’s engineers with the skills
and experience necessary to make a lasting, positive impact in our
communities and in the business world.”</p>

<p>High-caliber engineers are always in demand, Ertl said, but FMC
Technologies is entering a period of unprecedented growth: The company
expects to hire approximately 8,000 people at its global sites over the
next five years. The engineering Design Center will funnel local talent
into that jobs pipeline.</p>

<p>“This partnership with FMC Technologies is a progressive model of
collaboration between industry and academia,” said Dr. Ralph Ford,
director of the School of Engineering at Penn State Behrend. “It will
provide invaluable practical experience and professional growth for our
students, preparing them well to compete globally.”</p>

<p>The Subsea Technologies business is the largest segment of FMC
Technologies’ global operations, accounting for approximately
two-thirds of its $5.1 billion in 2011 revenue. The business designs
and manufactures a wide range of equipment and technologies that enable
its customers – including Shell, ExxonMobil, Statoil, Petrobras and
others – to explore, drill and develop offshore oil and gas fields in
all of the world’s major basins.</p>

<p>Penn State Behrend interns will receive valuable first-hand
experience with the industry’s most advanced software and other
engineering tools and will contribute to the design of equipment
including wellheads and control systems intended for use in reservoirs
across the world. They will work alongside experienced professionals at
various sites and will be supervised in Erie by an on-site Design
Center manager.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-08-08T13:59:10Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/supermileage-team-wins-international-competition">        <title>Supermileage Team Wins International Competition</title>        <link>https://psbehrend.psu.edu/news-events/news/supermileage-team-wins-international-competition</link>        <description>A lightweight, single-seat test car designed by students at Penn State Erie, The Behrend College, won the Society of Automotive Engineers’ 2012 International Supermileage Challenge.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><img alt="Supermileage Team" class="pull-right" src="../Supermileage20123Web.jpg" />The team, which started
work on the car in December, using a lawn mower engine, aced the design
phase of the two-day competition. The car also performed well on the
track, recording a test run that got 1,485 miles of out a single gallon
of gas.</p>

<p>Team member Tina Raeke, of Erie, drove that lap, keeping the
91-pound car to an average speed of 15.03 mph. Any faster, and the car
would have been less efficient.</p>

<p>Three other test runs earned the team mileage. But on three others,
the car broke down: The drive belt fell off, and the ignition circuit
failed.</p>

<p>Technical problems are common at the competition, which is held on
the Eaton Corporation’s Marshall Proving Grounds in Michigan. Several
registered teams were unable to compete.</p>

<p>A team from Brigham Young University, in Utah, placed second with a
1,135-mpg car. A team from Universite Laval, in Quebec City, placed
third with a 1,051-mpg car.</p>

<p>The Erie Times-News included <a class="external-link" href="http://www.goerie.com/apps/pbcs.dll/article?AID=2012306109924">a
story</a> about the win in its Sunday editions.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-06-12T17:39:10Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/when-is-a-smiling-man-not-happy">        <title>Behrend Graduate Examines the Science of False Smiles</title>        <link>https://psbehrend.psu.edu/news-events/news/when-is-a-smiling-man-not-happy</link>        <description>A smiling man has to be happy, right?

Not exactly.
</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Behrend graduate M. Ehsan Hoque, a Ph.D. student in the MIT Media
Lab, found that nine of every 10 people presented with a task that
caused frustration – in this case, people who completed a detailed
online form, only to have the information deleted when they pressed
“submit” – smiled while processing the emotion.</p>

<p>It’s a different kind of smile: Happy smiles build gradually, Hoque
found. Frustrated ones appear quickly but soon fade.</p>

<p>In a photograph, however, it can be almost impossible to determine
which mood caused the smile.</p>

<p>Hoque’s goal with the study was to help people better interpret
facial expressions – a common problem for those with autism. His
findings, which were published in “IEEE Transactions on Affective
Computing,” also could help programmers design computers that can
better read and respond to human emotion.</p>

<p>Hoque explains the project in this video: <a href="http://www.youtube.com/watch?v=MYmgCQjgXQU&feature=player_embedded">
http://www.youtube.com/watch?v=MYmgCQjgXQU&amp;feature=player_embedded#</a></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-05-25T20:28:52Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/engineering-design-conference-to-showcase-student-work">        <title>Engineering Design Conference to Showcase Student Work</title>        <link>https://psbehrend.psu.edu/news-events/news/engineering-design-conference-to-showcase-student-work</link>        <description>A sensor that will be launched on a NASA rocket and a GPS collar that will correct a wandering dog are among the senior design projects that students at Penn State Erie, The Behrend College, will present Saturday at the Richard J. Fasenmyer Engineering Design Conference.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The half-hour sessions begin at 8 a.m. in the Jack Burke Research
and Economic Development Center. They are free and open to the
public.</p>

<p>The School of Engineering requires a yearlong, capstone applied
design experience for each of its degree programs. This year’s
conference showcases the work of 197 students. Many of their projects
were sponsored by leading industry partners, including Eriez Magnetics,
LORD Corporation, Westinghouse Electric Co., Modern Industries and
NASA.</p>

<p>Jim Ertl, vice president and general manager of FMC Technologies’
Measurement Solutions business operations in Erie and Ellerbek,
Germany, will be the featured speaker at the conference.</p>

<p>FMC Technologies provides technology solutions for the global energy
industry. Ertl, who joined the company in 1993, has led several
initiatives, including construction of a facility in Changshu, China.
His talk will begin at 11:45 a.m. in Room 180 of the Burke Center, 5101
Station Road. Free parking will be available in the deck behind the
Burke Center, off Technology Drive.</p>

<p>The Fasenmyer conference is named for the late Richard J. Fasenmyer
’69, a longtime supporter of Penn State Behrend’s School of
Engineering. He founded RJF International Corp., a world leader in the
manufacture and distribution of interior wall coverings, industrial
matting products and specialty films.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-04-25T16:12:06Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/students-and-software-rescue-draft-horses-from-slaughter">        <title>Students, Software Rescue Draft Horses From Slaughter</title>        <link>https://psbehrend.psu.edu/news-events/news/students-and-software-rescue-draft-horses-from-slaughter</link>        <description>Engineers don’t normally find themselves being drooled on at work, but it comes with the territory when your “client” is a 1,900-pound draft horse with a sweet tooth. The horse, Fargo, thought Joseph Hirn, the software engineering student standing next to him, might have a peppermint in his hand; Fargo reached down to find out.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Hirn got a handful of slobber and Fargo got a mild scolding from
Lisa Gordon, owner of Frog Pond Farm, a draft horse rescue operation in
Cambridge, Ohio.</p>

<p>How does a Penn State Behrend software engineering student end up
being nibbled by a massive draft horse in a barn 230 miles from the
college?</p>

<p>This story starts in 2002 at a livestock auction in Ohio, when
Gordon rescued her first horse, a Belgian mare named Babe who was
likely bound for slaughter, as are most horses sold at auction.</p>

<p>“I did some riding with Babe and, during that time, I happened to
learn more about horse slaughter,” Gordon said. “One day I thought
maybe I ought to sell Babe and use the money to save two more horses
from auction.”</p>

<p>Soon two horses rescued became four, then six. A few months later,
Gordon formed Frog Pond Farm, a non-profit organization on a mission to
rescue, rehabilitate, and rehome draft horses. Since then, Gordon, her
family, and her loyal volunteers, or Ponders, have rescued an estimated
1,700 draft horses.</p>

<p>With anywhere from twenty to fifty horses at Frog Pond to care for,
Gordon has struggled to coordinate rescue and adoption efforts through
a cobbled system of e-mail, Facebook, and mountains of paperwork.</p>

<p>“I find myself spending a lot of time answering repetitive
questions,” Gordon said. “I needed a better system, but I’m not a
computer person.”</p>

<p>Hirn, however, is. He and fellow software engineering seniors Chris
Greenawalt and Matt Smith developed a new software program for Frog
Pond that will allow the rescue to better coordinate its logistical
challenges. Creation of the software was the trio’s year-long capstone
project, a prerequisite to graduation required of all Penn State
Behrend engineering students. It also was part of IBM’s Software for a
Cause program.</p>

<p>“The goal of Software for a Cause is to pair student programming
teams with nonprofits that are in need of a software application to
better serve their constituents,” said IBM representative Brian
Schimpf. “This gives students ‘real world’ programming experience while
creating something of true value for the non-profit.”</p>

<p>A field trip to Frog Pond Farm was a chance for Hirn to learn more
about the organization his team is helping.</p>

<p>“People think software engineers sit in cubicles all day, writing
code, but this is the other side of it,” said Melanie Ford, a lecturer
in engineering and the team’s faculty adviser. “It’s nice for Joe to be
able to see the farm and take what he’s learned back to the team.”</p>

<p>The Frog Pond software program has three main components: a profile
of each horse; an online adoption application; and a rescue resource
database with a searchable, sortable list of volunteers and their
capabilities (such as medical or training skills) and resources (spare
trailers, extra barn space). The project uses open-source code that
eventually be adapted by and used for other animal rescue
organizations.</p>

<p>For Gordon, the software program means less screen time and more
barn time. “It will free me up so I can give a lot more attention to
the horses,” she said as Fargo, as if on cue, nudges her hand, still
searching for that peppermint candy.</p>

<p><strong><em>Joseph Hirn, Chris Greenawalt and Matt Smith will
present their engineering capstone project, “Web Application to Aid
Animal Rescue,” at Penn State Behrend’s annual Richard J. Fasenmyer
Engineering Design Conference. The conference takes place Saturday,
April 28, in the college’s Jack Burke Research and Development
Center;</em></strong> <a class="external-link" href="../../../programs-events/fasenmyer-engineering-design-conference-1/fasenmyer-engineering-design-conference-1/index.html">
<strong><em>click here</em></strong></a> <strong><em>for additional
information.</em></strong></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>In the Spotlight</dc:subject>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2012-04-20T14:05:16Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/new-medical-plastics-center-links-industry-academia-and-research">        <title>New Medical Plastics Center Links Industry, Academia and Research</title>        <link>https://psbehrend.psu.edu/news-events/news/new-medical-plastics-center-links-industry-academia-and-research</link>        <description>October 19, 2011 – With a growth rate of nearly 10 percent annually, sales projected to reach $6.55 billion in 2012, and an estimated 100,000 related jobs, the medical plastics sector in the United States has a critical role in the growing health care industry. </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>In response to this growing sector and with support from its
sponsors, including Harmac Medical Products, SIGMA Plastics Services,
Philips Respironics and the Commonwealth of Pennsylvania, Penn State
Erie, The Behrend College, has invested more than $4 million into
creating the state-of-the-art <a title="Medical Plastics Center of Excellence" class="internal-link" href="../../../medical-plastics-center/index.html">Medical Plastics Center of
Excellence</a> (MPC).</p>

<p>With the creation of this facility, Penn State Behrend is positioned
to educate students and assist the current medical device workforce
with coursework, a certificate program and professional development
training specific to this growing industry.</p>

<p>Strategically located on the first floor of the Jack Burke Research
and Economic Development Center, the MPC is adjacent to Penn State
Behrend's 10,500-square-foot plastics processing facility. The center's
grand opening will be Wednesday, October 26, at 3 p.m. The event is
free and open to the public.</p>

<p>The MPC is part of Penn State Behrend's open lab initiative where
members of industry and academia work side-by-side to share expertise
and resources. The center's collaborative research capabilities include
developing, testing and characterizing materials; product design,
development and research; prototyping through pilot production; and
software development.</p>

<p>"Our mission is to partner with companies to maximize medical device
performance and lower the cost of healthcare," said Jason Williams,
head of the Medical Plastics Center of Excellence. This applied
research and outreach center will support companies in the development
of new medical devices and packaging, technologies that could not exist
without advanced plastics materials.</p>

<p>The MPC will house a dedicated medical plastics lab that features an
ISO Class 8 cleanroom, a 55-ton liquid silicone injection molder, a
materials compounding extruder, autoclave sterilization, and injection
molding machines that can handle up to 200 tons. The center can
accommodate impact, moisture, creep and melt index testing along with
circuit board prototyping and fabrication.</p>

<p>The grand opening begins with a reception at 3 p.m. Opening remarks
will be held at 3:30 p.m., followed by tours of the facility. RSVP to
Rhonda Steg, administrative support coordinator, at rjv3@psu.edu.
Reservations are encouraged.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2011-10-19T14:48:57Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/efforts-garner-600-000-nsf-grant-1-million-in-scholarships">        <title>Efforts Garner $600,000 NSF Grant, $1 Million in Scholarships</title>        <link>https://psbehrend.psu.edu/news-events/news/efforts-garner-600-000-nsf-grant-1-million-in-scholarships</link>        <description>October 17, 2011 – From increased enrollments in STEM fields of study to high student retention rates and a successful mentoring program, Penn State Erie, The Behrend College, is doing its part to increase the STEM workforce—thanks to nearly $1.1 million in grants from the National Science Foundation (NSF).</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The NSF has awarded Penn State Behrend a $597,988 four-year S-STEM
grant—the second in five years—to provide scholarship and mentoring
opportunities for female students and students from underrepresented
groups enrolled in STEM fields of study. S-STEM is the NSF's acronym
for Scholarships in Science, Technology, Engineering and Math.</p>

<p>In 2006, the NSF awarded the college a $496,788 S-STEM grant to
begin the project "Scholarship opportunities for increasing STEM
graduates at Penn State Behrend and in Northwestern Pennsylvania."</p>

<p>"We are increasing both our student enrollments and the number of
graduates in science, technology, engineering and math fields at a
critical time for the United States. It is an important component of
our national competitiveness, and this grant allows us to continue
targeting this much-needed population," said Dr. Ralph Ford, director
of the School of Engineering at Penn State Behrend. "This also helps
our regional manufacturers remain competitive as Penn State Behrend is
able to supply the workforce with a talented pool of engineers and
scientists."</p>

<p>"Financing a college education is becoming increasingly difficult in
the current economic climate. The STEM scholarship program provides
significant financial aid to deserving students and helps guide them
toward degrees in highly desirable fields of study," said Dr. Michael
Campbell, associate professor of biology. Ford and Campbell served as
co-principal investigators for this second grant.</p>

<p>To date, Penn State Behrend has taken a holistic approach to ensure
that these scholarship recipients have the academic and social support
network they need to succeed. The college will continue to utilize
academic mentoring as a key resource to support the NSF STEM
scholars'—those students who receive scholarship funding from the
S-STEM grants.</p>

<p>"A key component for first-year NSF STEM scholars are the group
peer-to-peer mentoring sessions, which are led by upperclassman,"
Barbara Gunnison, special programs coordinator, said. "Later, students
in sophomore through senior-year standing will participate in personal
academic activities—individualized mentoring where students take
initiative for their own futures. If a student hopes to attend graduate
school, for example, she may research institutions that offer her
program of choice."</p>

<p>During the first grant’s four-year period, Penn State Behrend
increased enrollments in its STEM fields of study substantially.
Notably, female enrollment in engineering increased 68 percent, from 66
female engineering students in 2005 to 111 in 2010.</p>

<p>The freshman-to-sophomore year retention rate was 96 percent for
Penn State Behrend's NSF STEM scholars. Of those NSF STEM scholars who
began their first year in a STEM field, 83 percent of these students
were also enrolled in a STEM field in their junior year.</p>

<p>According to NSF guidelines, scholarship recipients must be enrolled
full time in one of the specified degree programs, demonstrate academic
ability and have financial need, among other criteria. Academically
qualified students who meet the other criteria will be invited to apply
for the scholarship.</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2011-10-17T20:29:36Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/catherine-franks-honored-with-young-professional-award">        <title>Catherine Franks Honored with Young Professional Award</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/catherine-franks-honored-with-young-professional-award</link>        <description>October 13, 2011 – Catherine Franks, of Gibsonia, a senior majoring in mechanical engineering at Penn State Erie, The Behrend College, has been honored with a 2011 Athena Young Professional Leadership Award. Franks is an intern for FMC Technologies in Erie. </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Established in 2007, the Athena Young Professional Leadership Award
honors emerging leaders who demonstrate excellence, creativity and
initiative in their field; give time and energy to improve the quality
of life for others in the community; and serve as role models for young
women personally and professionally.<br />
<br />
<br />
<br />
</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2011-10-17T15:17:27Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/school-of-engineering-ranked-by-u.s.-news">        <title>School of Engineering Ranked by U.S. News</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/school-of-engineering-ranked-by-u.s.-news</link>        <description>September 13, 2011 – The School of Engineering at Penn State Erie, The Behrend College, has been named among the best undergraduate engineering programs in the nation, according to U.S. News &amp; World Report's annual "America’s Best Colleges" rankings, which will hit newsstands on Sept. 20.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><em>U.S. News</em> ranked Penn State Behrend at no. 51 in its "Best
Undergraduate Engineering Programs" for schools that offer bachelor's
or master's as their highest degrees. In total, 193 institutions were
ranked in this category.<br />
<br />
Based on its own research, Penn State Behrend's School of Engineering
is one of the largest undergraduate-only engineering schools in the
country.<br />
<br />
In order to qualify for the <em>U.S. News</em> ranking, the school's
programs must be accredited by the Accreditation Board for Engineering
and Technology (ABET). Penn State Behrend's School of Engineering
offers three associate and seven bachelor's degree programs. Each
program is accredited by either ABET's Engineering Accreditation
Commission (EAC) or its Technology Accreditation Commission
(TAC).<br />
<br />
Rankings are based solely on the peer judgments of deans and senior
faculty, who were surveyed in spring 2011.<br />
<br />
</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Engineering</dc:subject>                <dc:date>2011-09-13T17:59:42Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->