<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-engineering/programs-events/engineering-events/RSS">
  <title>Engineering Events</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-06-03T15:58:09Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-engineering/programs-events/fasenmyer-engineering-design-conference-1/fasenmyer-engineering-design-conference-1"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/school-of-engineering/programs-events/fasenmyer-engineering-design-conference-1/fasenmyer-engineering-design-conference-1">        <title>4/27/2013 8:00 am - Fasenmyer Engineering Design Conference </title>        <link>https://psbehrend.psu.edu/school-of-engineering/programs-events/fasenmyer-engineering-design-conference-1/fasenmyer-engineering-design-conference-1</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p><img alt="Fasenmyer Conf - Design Proj" class="pull-right" src="../../../images/fasenmyerconf.gif" />Students in the School of Engineering benefit from academic programs that are characterized by a strong design emphasis, resulting in extensive hands-on design project opportunities working with real-world applications. Many of these projects are sponsored by industry or professional engineering societies. All programs have a capstone design experience and each spring the students showcase their work by presenting these projects at the Richard J. Fasenmyer Engineering Design Conference. This unique conference is open to the public and held the last Saturday in the spring semester (before finals week) each year.</p>
<p>In 2005 the conference was named to honor the legacy of <a class="internal-link" href="../richard-j.-fasenmyer">Richard J. Fasenmyer</a>. Mr. Fasenmyer was named an Alumni Fellow and Distinguished Alumnus of the University. He was the first alumnus of Penn State Behrend to donate $1 million to the college, for which a plastics processing laboratory bears his name.</p>
<p>The 2012-13 Fasenmyer Engineering Design Conference will be held on Saturday, April 27, 2013.</p>
<table  style="width: 365px; height: 630px;">
<tbody>
<tr>
<td colspan="3" style="text-align: left;">
<p style="font-weight: bold; text-align: left;">Past Conferences</p>
</td>
</tr>
<tr>
<td>
<p style="font-weight: bold">Programs</p>
</td>
<td style="width: 25px;"></td>
<td><b>Keynote Presentations</b></td>
</tr>
<tr>
<td><a class="internal-link" href="../Fasenmyer-prog-2012.pdf">2011-12</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://vimeo.com/43989329"><span class="external-link">Jim Ertl</span></a><br />FMC Technologies</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram1011.pdf">2010-11</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://player.vimeo.com/video/26393290?title=0&amp;byline=0&amp;portrait=0"> <span class="external-link"><span class="external-link">Sam Dedola</span></span></a><br /> MEDRAD, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0910.pdf">2009-10</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://behrend.psu.edu/academic/engineering/video/Fasenmyer2010/Fasenmyer2010.htm"> John Golombeck</a><br /> Northrop Grumman</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0809.pdf">2008-09</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://behrend.psu.edu/academic/engineering/video/Fasenmyer2009/MikeMankosa2009.htm"> Dr. Mike Mankosa</a><br /> Eriez Magnetics</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0708.pdf">2007-08</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://behrend.psu.edu/academic/engineering/video/Fasenmyer2008/AllanKidd2008.htm"> H. Allan Kidd</a><br /> Dresser Rand</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../Fasenmyerprog0607.pdf">2006-07</a></td>
<td></td>
<td>
<p><a class="external-link" href="http://behrend.psu.edu/academic/engineering/video/Fasenmyer2007/JohnDineen2007.htm"> John Dineen</a><br /> GE Transportation</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../Fasenmyerprog0506.pdf">2005-06</a></td>
<td></td>
<td>
<p>Dr. Lane R. Miller<br /> LORD Corporation</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0405.pdf">2004-05</a></td>
<td></td>
<td>
<p>Kenneth R. Schulz<br /> Lockheed Martin</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0304.pdf">2003-04</a></td>
<td></td>
<td>
<p>Thomas J. Lennox<br /> BTC Solutions, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram0203.pdf">2002-03</a></td>
<td></td>
<td>
<p>Michael Chesley<br /> Dana Brake Parts, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProg0102.pdf">2001-02</a></td>
<td></td>
<td>
<p>George Jamesson<br /> Fisher-Price, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgr0001.pdf">2000-01</a></td>
<td></td>
<td>
<p>James S. Davis<br /> Aalborg Industries, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram9900.pdf">1999-00</a></td>
<td></td>
<td>
<p>Dr. James A. Pawelczyk<br /> Penn State University</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram9899.pdf">1998-99</a></td>
<td></td>
<td>
<p>Dr. John A. Swanson<br /> ANSYS, Inc.</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram9798.pdf">1997-98</a></td>
<td></td>
<td>
<p>P. C. "Hoop" Roche<br /> Erie Plastics</p>
</td>
</tr>
<tr>
<td><a class="internal-link" href="../FasenmyerProgram9697.pdf">1996-97</a></td>
<td></td>
<td>Frank D. Zaffino<br /> Kodak</td>
</tr>
</tbody>
</table>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Engineering Event</dc:subject>                <dc:date>2012-10-26T12:38:36Z</dc:date>        <dc:type>Event</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->