<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/alumni/alumni-news-and-events/alumni-news-archives/2010-alumni-news/RSS">
  <title>2010 Alumni News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2010-10-06T10:00:06Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/david-w.-grzelak-71-is-colleges-2010-alumni-fellow"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-singers-receive-extraordinary-gift"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/brock-named-honorary-alumni"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/david-w.-grzelak-71-is-colleges-2010-alumni-fellow">        <title>Komatsu America Corp. CEO David W. Grzelak '71 is College's 2010 Alumni Fellow</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/david-w.-grzelak-71-is-colleges-2010-alumni-fellow</link>        <description>September 27, 2010 – Erie native David W. Grzelak ’71, chairman and CEO of Komatsu America Corp., has been named Penn State Behrend’s 26th Alumni Fellow. The Alumni Fellow award is the most prestigious honor given by the Penn State Alumni Association, and is a permanent and lifelong designation. </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><a class="external-link" href="http://www.komatsuamerica.com/">Komatsu America</a> is a
wholly-owned subsidiary of Tokyo-based Komatsu Ltd. that manufactures
and markets hydraulic excavators, wheel loaders, crawler dozers,
off-highway trucks and motor graders. Prior to joining Komatsu Dresser
Co. in 1991, Grzelak held manufacturing, sales, marketing and
management positions within GE Transportation Systems.</p>

<p>Grzelak will be honored at a Tuesday, October 12, dinner hosted by
Penn State Behrend Chancellor Don Birx. The next morning, he will be
the keynote speaker at the <a class="internal-link" href="../conference-to-cover-the-current-future-states-of-u.s.-manufacturing">
American Society of Mechanical Engineers’ annual Manufacturing Science
and Engineering Conference</a> being held that week in Erie’s Bayfront
Convention Center. Grzelak will speak to over 300 engineers,
researchers, educators and students, along with representatives from
the conference’s 13 corporate sponsors.</p>

<p>In 1992, Grzelak was inducted into the Penn State Behrend Athletic
Hall of Fame to recognize his outstanding tennis career at the college.
He also has been honored with the Penn State College of Engineering’s
Outstanding Engineering Alumnus Award. He is a member of the boards of
directors of Alamo Group, Boart Longyear, and the Leonhard Center for
the Enhancement of Engineering Education.</p>

<p>Since 1973, the Alumni Fellow Award has been given to select alumni
who are leaders in their professional fields. Alumni Fellows are
nominated by an academic college and accept an invitation from the
President of the University to return to campus to share their
expertise with students, faculty and administrators.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>College News</dc:subject>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2011-02-28T18:22:41Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-singers-receive-extraordinary-gift">        <title>College Singers Receive Extraordinary Gift</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/college-singers-receive-extraordinary-gift</link>        <description>February 9, 2010 – Members of the college choir at Penn State Erie, The Behrend College, are singing a song of gratitude: A charitable foundation established by an alumnus is helping to pay each student’s expenses to travel to New York City to perform at Carnegie Hall this spring.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The Richard J. Fasenmyer Foundation of Fairlawn, Ohio, has awarded
$50,000 to the choir to make the Carnegie Hall experience possible for
students. The late Richard J. Fasenmyer, an Erie native, was an alumnus
of Penn State Behrend. The choral concert will be dedicated to the
memory of his mother, Alice Catherine “Kay” Litzinger Fasenmyer,
herself an accomplished singer and pianist.</p>

<p>“My brother John and I are delighted that the Penn State Behrend
choir and its local colleagues will be performing at the famed New York
City Carnegie Hall,” Connie Fasenmyer-Warthman of Union City, Richard’s
sister, said. “As an educator and professionally trained musician,
music and music education were a particular passion for my mother. She
dreamed of performing at Carnegie Hall. I am sure that both she and my
brother Richard will be with the choir in spirit and would applaud the
students’ talent and work ethic. I want to thank the trustees of the
Richard J. Fasenmyer Foundation for their support of the choir and for
making this event possible.”</p>

<p>“The Richard J. Fasenmyer Foundation Trustees are honored to sponsor
the Penn State Behrend choir’s performance at Carnegie Hall,” Fasenmyer
Foundation Trustee Haven Hood said of the gift. “I know Richard’s
mother, Kay, who had an immense passion to sing classical music, would
have echoed our sentiments. This concert will uniquely blend the
talents of the choir, the generosity of Richard, and the memory of
Kay.”</p>

<p>“This is a once-in-a-lifetime opportunity for our students,” Dr.
Jason Bishop, director of the college’s choral activities, added. “Due
to the extraordinary generosity of the Fasenmyer Foundation, Penn State
Behrend choral students will have the opportunity to showcase their
talent in one of the world’s most celebrated concert halls. The
students and I are so grateful to Connie Fasenmyer-Warthman, who
supported our proposal to her brother’s foundation, and to the trustees
of the Fasenmyer Foundation for their enthusiastic support of our
choral activities.”</p>

<p>The Penn State Behrend choir will accompany Bishop when he makes his
conducting debut at Carnegie Hall. Students will spend four days in
residence at Isaac Stern Auditorium to rehearse for a May 23 public
concert that culminates in Bishop conducting an orchestra and 170-voice
choir in a performance of Franz Joseph Haydn’s “Lord Nelson Mass.”</p>

<p>“I couldn’t be more excited. Our choir loves a good challenge,” said
choir member Zoe Southworth, a sophomore business, liberal arts and
sciences major from Erie who will be traveling to New York City. “It’s
exhilarating to spend the school year with our sights set on a
performance in one of the most well-known venues in the world. The
opportunity is overwhelmingly humbling. It’s something I’ve always
dreamed of, but I never imagined actually accomplishing.”</p>

<p>Also accompanying Bishop to New York City will be members of the
Young People’s Chorus of Erie, the North East High School chorus, and
the Erie Philharmonic Chorus. Tickets for the May 23 performance go on
sale on Tuesday, March 23, and can be purchased from CarnegieCharge,
phone 212-247-7800.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>College News</dc:subject>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2011-02-28T18:22:52Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/brock-named-honorary-alumni">        <title>Brock Named Honorary Alumnus</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/2011-news/brock-named-honorary-alumni</link>        <description>June 7, 2010 – Rev. Charles Brock, director and founder of the Institute on the American Dream at Penn State Erie, The Behrend College, and senior research associate in religious studies in the college's School of Humanities and Social Sciences, received the Penn State Alumni Association's Honorary Alumnus Award on June 4 during a ceremony at The Nittany Lion Inn on Penn State's University Park campus.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Brock was one of four longtime champions and benefactors of the
University who were recognized for their significant contributions to
Penn State's welfare, reputation and prestige. In addition to Brock,
James C. Byerly of Camp Hill, Pa., Rodney A. Erickson of State College,
Pa., and J. Bruce McKinney of Hershey, Pa., were honored.</p>

<p>Before joining Penn State Behrend in 1999, Brock spent 35 years as a
teacher and chaplain at Mansfield College, Oxford University in
England, and currently is an emeritus fellow at Oxford.</p>

<p>Within the Penn State Behrend community, Brock lectures on religion
in a variety of courses, including Comparative Religion, Religion in
American Life and Thought, and Introduction to Islam. In 2000, he
founded the college’s Institute on the American Dream at Penn State
Behrend and continues to serve as the Institute’s director. The
Institute’s mission is to organize academic and community programs
examining The American Dream through literature, sociology, race and
economics while trying to establish a vision for the future.</p>

<p>In addition, Brock is an advisory board member of CORE, The Susan
Hirt Hagen Youth Research Center and co-vice chair and founding board
member of the Young People’s Chorus of Erie. CORE and YPC Erie are
major outreach initiatives of the School of Humanities and Social
Sciences.</p>

<p>Brock has lectured in America, Europe and Japan on aspects of
American religious and social thought. His major publications include
<i>Mosaics of the American Dream: America as New Israel - A Metaphor
for Today</i> (September 1994), <i>Sightings of Hope</i> (June 1994),
<i>Service Book, United Reformed Church Sacraments</i> (1989) and
<i>Guidelines on the Lord’s Supper</i> (May 1983). He currently is
writing a book tentatively titled <i>Holy Warrior Presidents</i>.</p>

<p>A native of Erie, Brock currently serves as a minister of First
Universalist Church in Girard. He also served as minister of Wheatley
United Reformed Church, located in a village five miles outside Oxford,
where he resided for more than three decades.</p>

<p>Brock earned a Bachelor of Science in industrial management from
Carnegie Mellon University, a Master of Divinity from Harvard
University, and a Master of Letters from Oxford University.</p>

<p>The Penn State Alumni Association has given the Honorary Alumni
Award since 1973 to recognize individuals who, while not graduates of
Penn State, have significantly worked toward bettering the University.
Since the award was established, nearly 100 individuals have been given
Honorary Alumni status. Honorary Alumni receive a life membership in
the Penn State Alumni Association, as well as a commemorative
award.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>sms299</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>College News</dc:subject>                    <dc:subject>School of Humanities &amp; Social Sciences</dc:subject>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2011-09-29T20:26:00Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->