<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/alumni/alumni-news-and-events/alumni-news/RSS">
  <title>Alumni News</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2010-10-06T10:00:06Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/alumni/alumni-news-and-events/matt-bresee-honored-with-alumni-achievement-award"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/alumni/alumni-news-and-events/scott-enterprises-adds-to-scholarship"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/alumni/alumni-news-and-events/matt-bresee-honored-with-alumni-achievement-award">        <title>Matt Bresee Honored with Alumni Achievement Award</title>        <link>https://psbehrend.psu.edu/alumni/alumni-news-and-events/matt-bresee-honored-with-alumni-achievement-award</link>        <description>Matthew T. Bresee ’00 and ten other Penn Staters received the Penn State Alumni Association's Alumni Achievement Award. Bresee is president of the Erie BayHawks, the NBA Development League team affiliated with the New York Knicks, and oversees daily team and business operations and sets strategy within the Erie BayHawks organization.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Eleven young Penn State alumni were honored for outstanding
professional accomplishment and presented with the Penn State Alumni
Association's Alumni Achievement Award at a dinner ceremony March 30 at
The Nittany Lion Inn on the University Park campus. This year’s
honorees work for nationally recognized organizations such as the Ad
Council, the General Electric Company, J.P. Morgan and the U.S.
Department of State. Some started their own companies and one plays for
the New Orleans Saints. These bright, young alumni stars received the
2012 Alumni Achievement Award for reaching an extraordinary level of
professional accomplishment, by the age of 35 or younger. Academic
colleges or campuses nominate alumni who are then selected by a
University-wide committee. President Rod Erickson invites them to
return to campus for several days to share their expertise with
students and the University community. The Alumni Achievement Award
began in 2005 and since then has honored 85 outstanding alumni.</p>

<p>This year’s Alumni Achievement Award recipients, along with their
year of graduation, current title, place of employment and city of
residence are:</p>

<ul>
<li><b>Heather D. Agnew ’03</b>, principal research investigator,
Integrated Diagnostics; Los Angeles;</li>

<li><b>Danielle S. Bassett ’04</b>, Sage Junior Research Fellow,
University of California, Santa Barbara; Goleta, Calif.;</li>

<li><b>Matthew T. Bresee ’00</b>, president, Erie BayHawks; Erie,
Pa.;</li>

<li><b>Ellyn Fisher ’99</b>, vice president of public relations and
social media, Ad Council; New York City;</li>

<li><b>John H. Gilmore Jr. ’01</b>, tight end, New Orleans Saints;
Tampa, Fla.;</li>

<li><b>Meghan K. Jasani ’99</b>, vice president and product manager,
J.P. Morgan Worldwide Securities Services; Boston;</li>

<li><b>Sean A. Misko ’04</b>, special advisor to the Special
Representative for Afghanistan and Pakistan, U.S. Department of State;
Arlington, Va.;</li>

<li><b>Ronald D. Ondechek Jr. ’99</b>, investment professional, Altira
Group LLC; Denver;</li>

<li><b>Herb Sweeney IV ’03</b>, senior associate, Michael Van
Valkenburgh Associates; Somerville, Mass.;</li>

<li><b>Christopher M. Thomas ’03, ’08g</b>, global recruiting director,
General Electric Company; Stamford, Conn.;</li>

<li><b>Daniel W. Veltri ’07</b>, co-founder and chief operating
officer, Weebly; San Francisco.</li>
</ul>

<p>Full biographical information about these honorees and past award
recipients are on the Alumni Association’s website at <a class="external-link" href="http://www.alumni.psu.edu/awards/individual">www.alumni.psu.edu/awards/individual</a>.</p>

<p>&nbsp;</p>

<p></p>

<p><b><img alt="Matt Bresee" class="image-inline" src="../../images/MattBreseePortraits_0072.jpg" style="float: right;" />Matthew T. Bresee ’00 Behrend</b> is president
of the Erie BayHawks, part of the National Basketball Association’s
Development League. The BayHawks and the New York Knicks entered into a
single affiliation partnership in June 2011, giving the Knicks
organization control of basketball operations for the BayHawks, similar
to minor league partnerships in other sports.</p>

<p>As BayHawks’ president, Bresee oversees the team’s daily team and
business operations, as well as sets strategy in all areas within the
Erie BayHawks organization. Under Bresee’s leadership, the average
attendance at BayHawks games rose 12 percent to 3,367 fans last season
(fourth highest in the league), total attendance grew by 30 percent
since the team’s inaugural season, and the BayHawks secured the NBA
Development League’s first-ever jersey partnership with the Lake Erie
College of Osteopathic Medicine. Bresee was promoted to BayHawks’
president in 2009 after working as vice president of business
operations during the team's highly successful inaugural season.</p>

<p>Prior to joining the BayHawks, Bresee’s sports management experience
included eight years with the Erie SeaWolves minor league baseball
team—two of those years as assistant general manager.</p>

<p>Bresee is active in the Erie community, serving on the VisitErie
Board of Directors and the March of Dimes of Erie County Fundraising
Committee. He is also a member of the United Way Young Leaders
Club.</p>

<p>Bresee graduated from Penn State Erie, The Behrend College, in 2000
with a degree in communication and media studies. As an alumnus, he
works closely with the communication program and volunteers with the
FastStart Behrend mentoring program for underrepresented students.</p>

<p>Bresee and his wife, Sue ’00, live in Erie, Pa., with their
daughter, Lindsey, and son, Logan.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>kcc146</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2012-04-09T13:40:09Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/alumni/alumni-news-and-events/scott-enterprises-adds-to-scholarship">        <title>Scott Enterprises Adds to Scholarship</title>        <link>https://psbehrend.psu.edu/alumni/alumni-news-and-events/scott-enterprises-adds-to-scholarship</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p><img alt="Scotts with Jane Brady" class="image-inline" src="../../images/ScottsandJaneBrady.jpg" /></p>

<p>Scott Enterprises, led by Nicholas C. Scott Sr., left, president and
chief executive officer, has supplemented the Kim Barbara and Nicholas
C. Scott Scholarship endowment at Penn State Erie, the Behrend College.
The scholarship is awarded to employees or children of employees of
Scott Enterprises. Jane Brady, associate director of financial aid at
Penn State Behrend, is presenting Mr. Scott with thank you letters from
scholarship recipients. Observing from the right are corporate vice
presidents Nick Scott Jr. and Chris Scott.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>kcc146</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Alumni News</dc:subject>                <dc:date>2012-02-21T20:39:53Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->