<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-collection/RSS">
  <title>News Collection</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2010-09-21T10:00:06Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/prevent-identity-theft"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-features-for-adobe-connect"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-password-management-at-psu"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/its-warns-against-use-of-social-media-sites-on-open-wireless-networks"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/beware-of-bogus-email-messages"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/protect-your-computer"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/check-out-new-features-of-lynda.com"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/security-awareness-video-series-now-available"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/practice-safe-computing"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/prevent-identity-theft">        <title>Prevent Identity Theft</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/prevent-identity-theft</link>        <description>Penn State students, faculty, and staff can now protect and secure their home computers with Identity Finder's Home Edition software.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The software helps users prevent identity theft by detecting and
protecting personally identifiable information (PII), such as social
security numbers, credit card numbers, bank/financial institution
account information, and driver's license numbers.</p>

<p>Penn State's licensing agreement with Identity Finder, LLC, for
faculty and staff use on University-owned machines provides the Penn
State community with a significant discount on the software for use on
personal machines. The software is free to students and offered to
faculty and staff at a substantially reduced cost.&nbsp; For more
details, please see the article <a class="external-link" href="http://news.its.psu.edu/story-1273">Identity Finder Home Edition
Now Available to Penn State Students, Faculty, and Staff</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Computer Center News</dc:subject>                <dc:date>2011-03-01T13:53:39Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-features-for-adobe-connect">        <title>New Features for Meeting@PennState</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-features-for-adobe-connect</link>        <description>Information Technology Services (ITS) recently upgraded Meeting@Penn State.  This upgrade offers a better user interface, including enhanced audio and video controls, unified attendee management, and optimized screen use. </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Other enhancements include accessibility improvements for users with
disabilities.&nbsp; These include screen reader support and easier
keyboard navigation.<br />
<br />
In addition, users outside of Penn State no longer have to get a
Friends of Penn State account in order to join a meeting. They can now
log in to public meetings using the Guest log on, greatly simplifying
their participation.&nbsp; In the attendee pod, participants logged in
as guests are indicated by a blue icon and are easily identified from
the Penn State and Friends of Penn State participants, which are shown
with a yellow icon.&nbsp; This is important information for the host,
as guests can enter a meeting room using any name they wish.<br />
<br />
Another enhancement is that all faculty and staff are able to create
their own meeting rooms.&nbsp; Upon signing in to <a class="external-link" href="http://meeting.psu.edu">http://meeting.psu.edu</a>, only those
with LDAP designations of "staff" or "faculty" will be auto-promoted to
Meeting Owners.&nbsp; Staff with "member" or some other designation
should contact meeting@psu.edu to explain why they need to be able to
create meeting rooms.&nbsp; Students who want their own meeting room
should contact a staff or faculty member to get a room.<br />
<br />
For more information, please contact meeting@psu.edu or visit <a class="external-link" href="http://meeting.psu.edu/">http://meeting.psu.edu/</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                <dc:date>2012-01-09T16:03:35Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-password-management-at-psu">        <title>New Password Management at PSU</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/new-password-management-at-psu</link>        <description>Forgot your Access Account password?  No problem.  U.P. has announced a new upgrade that enables users to reset their forgotten or expired Access Account password without the assistance of the ITS Accounts Office.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Simply go to the <a class="external-link" href="http://work.psu.edu/password/">Password Management</a>
page.&nbsp; There are three choices:&nbsp; You can change your password
(like you have in the past), create or update security questions (for
forgotten or expired passwords), and reset your password based upon
your security questions.&nbsp;</p>

<p>To take advantage of the new features of this upgrade, you must
first create some security questions.&nbsp; If you opt out of enabling
the security questions and you need to reset your password, then you'll
need to visit a signature station.</p>

<p><br />
<br />
<br />
</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Computer Center News</dc:subject>                <dc:date>2011-12-12T18:29:33Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/its-warns-against-use-of-social-media-sites-on-open-wireless-networks">        <title>ITS Warns Against Use of Social Media Sites on Open Wireless Networks</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/its-warns-against-use-of-social-media-sites-on-open-wireless-networks</link>        <description>Information Technology Services at Penn State is warning all students, faculty and staff against connecting to social media web sites via open wireless networks (such as those found at hotels, airports, and other similar spaces).  </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>A new Firefox&nbsp;extension,&nbsp;Firesheep, makes it easy for
users to "side-jack" the social media sessions of others on the
network, allowing them to assume others' identities. &nbsp;For more
information, visit <a href="http://sos.its.psu.edu/2010/10/firesheep.html">http://sos.its.psu.edu/2010/10/firesheep.html</a></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                <dc:date>2011-03-01T13:53:39Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/beware-of-bogus-email-messages">        <title>Beware of Bogus Email Messages</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/beware-of-bogus-email-messages</link>        <description>Bogus email messages have been circulating that request personal information about your email account.  </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>Due to these phishing scams, students, faculty, and staff are
reminded that <strong>Penn State will never ask you for your Access
Account userid, password, or other confidential information via
email</strong>.&nbsp; However, when the date draws near to change your
Access Account password, ITS will send you a reminder via
email.&nbsp;This message directs you to the <a href="http://www.work.psu.edu/" target="_blank">www.work.psu.edu</a>
web site. This email is legitimate and you do need to take the
appropriate action to change your password.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Computer Center News</dc:subject>                <dc:date>2011-03-01T13:53:38Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/protect-your-computer">        <title>Protect Your Computer &amp; Digital Identity</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/protect-your-computer</link>        <description>The Penn State "Be Safe" campaign is part of an effort to empower students, faculty, and staff to take control of their digital identity and stay safe online. </description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The campaign provides information on how to help protect your
computer and your personal information from threats such as viruses,
spyware, and phishing scams.&nbsp; To find out more,&nbsp;visit the <a class="external-link" href="http://its.psu.edu/be-safe">"Be Safe" web
site</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                <dc:date>2011-03-01T13:53:38Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/check-out-new-features-of-lynda.com">        <title>Check Out the New Features of lynda.com</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/check-out-new-features-of-lynda.com</link>        <description>There have been several enhancements to the lynda.com tutorials.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>These include:</p>

<ul>
<li>Interviews with and documentaries on industry leaders and artistic
visionaries.</li>
</ul>

<ul>
<li>Free app to access the tutorials from your iPhone, iPod Touch, or
iPad compatible device.&nbsp; (Go to <a class="external-link" href="http://lynda.psu.edu/">http://lynda.psu.edu</a>, click on the
Apps tab, and follow the instructions to download and to use the
app.)</li>
</ul>

<p><br />
In addition, Penn State recently upgraded to lyndaCampus which provides
additional benefits.&nbsp; Now you can:</p>

<ul>
<li>Manage information in your personal profile.</li>

<li>Keep track of your course history and recent activity.</li>

<li>Bookmark your favorite courses, tutorials, and specific points
within movies.</li>

<li>Earn certificates of course completion.</li>
</ul>

<p>&nbsp;</p>

<p>If you’re not familiar with lynda.com, these are online video
tutorials for over 250 software applications as well as media
development skills (such as photography). The tutorials for each
application are segmented by topic and are approximately 5 to 15
minutes in length. This makes it quick and easy to learn a specific
topic. The tutorials are a great resource for faculty, staff, and
students --- whether as a supplement for a course, for professional
development, or learning technology skills.&nbsp;</p>

<p>For more information or to access the tutorials, visit:&nbsp; <a class="external-link" href="http://lynda.psu.edu/">http://lynda.psu.edu/</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Computer Center News</dc:subject>                <dc:date>2011-11-23T16:03:57Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/security-awareness-video-series-now-available">        <title>Security Awareness Video Series Now Available</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/security-awareness-video-series-now-available</link>        <description>A video series titled, "Information Security and You: Learn. Know. Protect," is available to all Penn State students, faculty, and staff.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>The videos are designed to provide quick, effective awareness
messages about a variety of information security topics, such as
creating strong passwords, using social media tools safely, wireless
security, smartphone/handheld security, as well as policies and
laws.&nbsp; The videos serve as a supplemental educational resource, as
well as foster broader information technology security awareness across
the University.</p>

<p>The series is unique in that it addresses not only the human
vulnerability factor, with respect to IT security, but also focuses on
community responsibility, observes Kathleen Kimball, senior director of
ITS Security Operations and Services (SOS).</p>

<p>"As technology continues to evolve at a rapid pace, so too do the
threats and vulnerabilities we face.&nbsp; People are not always aware
of what can potentially endanger them and the University virtually, so
reducing risk and remaining compliant at Penn State starts with
strengthening knowledge," Kimball states.&nbsp; "SOS intends the video
series to foster and expand this understanding."</p>

<p>The videos are housed in ANGEL, Penn State's Course Management
System (at <a class="external-link" href="https://cms.psu.edu/">https://cms.psu.edu</a>) to help
faculty&nbsp;easily reference them in their respective courses.&nbsp;
An open enrollment ANGEL group has been created to enable anyone at
Penn State to access the videos.&nbsp; Users can find instructions for
enrolling in the group via the ITS Knowledge Base (KB) at <a class="external-link" href="http://kb.its.psu.edu/cms/article/196">http://kb.its.psu.edu/cms/article/196</a>,
and should use the keyword search term, "Information Security and You"
to locate the group.&nbsp; Quizzes for each video are also available to
evaluate the specific knowledge that has been conveyed.</p>

<p>Inquiries and requests for assistance may be directed to the ITS
Help Desk at <a class="mail-link" href="mailto:helpdesk@psu.edu">helpdesk@psu.edu</a>.&nbsp; More
information about SOS is available at <a class="external-link" href="http://sos.its.psu.edu/">http://sos.its.psu.edu</a>.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Computer Center News</dc:subject>                <dc:date>2011-08-16T13:45:01Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/intranet/computer-center/news/news-items/practice-safe-computing">        <title>Practice Safe Computing</title>        <link>https://psbehrend.psu.edu/intranet/computer-center/news/news-items/practice-safe-computing</link>        <description>October is National Cybersecurity Awareness month and the theme for this year is "Our Shared Responsibility".</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>As you know, the web sites that we visit and share with family,
friends, and co-workers can affect not only our security and privacy,
but theirs as well.&nbsp; So take a moment to review some of the
practices that can help provide a more secure and enjoyable online
experience.</p>

<p><a class="external-link" href="http://its.psu.edu/be-safe/">Penn
State:&nbsp; Be Safe</a></p>

<p><a class="external-link" href="http://staysafeonline.org/sites/default/files/resource_documents/Social%20Networking%20Safety%20Tips%20STC.pdf">
Safety Tips for Social Networking</a></p>

<p><a class="external-link" href="http://www.microsoft.com/security/online-privacy/social-networking.aspx">
11 Tips for Social Networking Safety</a></p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>ddz</dc:creator>        <dc:rights></dc:rights>                <dc:date>2011-10-21T18:29:22Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->