<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-science/news/science-news-announcements/RSS">
  <title>Science News &amp; Announcements</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-11-10T07:30:42Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/school-of-science/news/physics-day-2012"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news/computer-model-predicts-health-risks-in-presque-isle-beach-water"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/school-of-science/news/physics-day-2012">        <title>Physics Day 2012</title>        <link>https://psbehrend.psu.edu/school-of-science/news/physics-day-2012</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>&nbsp;</p>

<p><img alt="Fire Tube Demo" class="image-inline" src="../../images/PDfiretube2012.jpg" style="float: left;" /></p>

<p style="text-align: center;"><img alt="Physics Day" class="image-inline" height="361" src="../PhyicsDay112012.png" width="456" /></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: left;">&nbsp;</p>

<p>&nbsp;</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>lmp100</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Science</dc:subject>                <dc:date>2012-11-15T18:13:24Z</dc:date>        <dc:type>News Item</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news/computer-model-predicts-health-risks-in-presque-isle-beach-water">        <title>Computer Model Predicts Health Risks in Presque Isle Beach Water</title>        <link>https://psbehrend.psu.edu/news-events/news/computer-model-predicts-health-risks-in-presque-isle-beach-water</link>        <description>Every morning at 6 a.m. a computer at the Tom Ridge Environmental Center checks the weather and other environmental conditions, including stream flow, wave height and water temperature for five areas of Presque Isle State Park.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[
<p>“It’s completely automated,” said Michael Rutter, associate
professor of statistics, who developed the model and wrote the program
to retrieve the data. “Which is good. I don’t want to have to wake up
at 6 a.m. and go on the Internet.”</p>

<p>Rutter’s weather model tells other researchers when conditions are
right for E. coli contamination. “When the model says there’s a good
chance, they go out and check,” Rutter said.</p>

<p>Contact with E. coli bacteria can cause intestinal illness and skin
infection. When E. coli levels are elevated – 235 or more colonies per
100 milliliters of water – swimmers are advised to stay out of the
water. When more than 1,000 colonies are present, swimming is
banned.</p>

<p>Biologists from Mercyhurst University and the Regional Science
Consortium use Rutter’s model to determine when, and where, to test the
water. They share the results, which generally are available in two
hours, with the Presque Isle State Park office, which determines when a
beach warning is warranted.</p>
]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>rgf10</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>School of Science</dc:subject>                <dc:date>2012-08-27T15:15:44Z</dc:date>        <dc:type>News Item</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->