
/* PSU Search block CSS */

.hidden
{
	display:none;
}

.search-wrap div,.search-wrap input,.search-wrap span,.search-wrap ul,.search-wrap li,.search-wrap form,.search-wrap label
{
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

.search
{
	float:right;
	display:inline;
	zoom:1;
}

.sb_wrapper
{
	top:5px;
	width:254px;
	float:left;
	background:#fff;
	margin:3px 0 0;
	padding:0;
}

.sb_wrapper input[type=text]
{
	background:#fff;
	font-size:12px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-style:italic;
	outline:none;
	width:205px;
	float:left;
	margin:3px 0 0 5px;
}

ul.sb_dropdown
{
	font-size:10px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-style:italic;
	outline:none;
	float:left;
	list-style:none;
	width:inherit;
	background:#cecdcd;
	position:relative;
	z-index:9999;
	margin:0;
	padding:0;
}

.sb_input
{
	border:none;
	background:#fff;
	padding-left:5px;
	margin-bottom:0!important;
}

ul.sb_dropdown li
{
	font-size:10px;
	font-family:Helvetica,sans-serif;
	line-height:21px;
	height:21px;
	float:left;

	margin-bottom:0;
	color:#181f25;
	padding:0 10px;
}

ul.sb_dropdown li input[type=radio]
{
	float:left;
	margin:5px 4px 0 5px;
}

input.sb_search
{
	background:#fff url(search-icon-small.png) no-repeat center center;
	height:24px;
	width:38px;
	float:right;
	border:none;
	outline:none;
	cursor:pointer;
	margin:0;
	padding:0;
}

.njsearch
{
	font-family:Helvetica,sans-serif;
	top:0;
	width:255px;
	float:left;
	font-size:10px;
	margin:3px 0 0;
	padding:0;
}

.njsearch ul
{
	list-style:none;
	margin:0;
}

.njsearch a:link,.njsearch a:visited
{
	color:#fff;
	text-decoration:none;
}

.njsearch a:hover
{
	text-decoration:underline;
}

.njsearch li
{
	display:inline-block;
	color:#fff;
	padding:3px;
}

.njsearch li:first-child
{
	margin-left:8px;
}

input[type=text],input[type=submit]
{
	-webkit-appearance:none;
	border-radius:0;
}