<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/school-of-science/programs-events-1/astronomy-nights-past/RSS">
  <title>Past Open House Nights in Astronomy</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2011-12-12T13:39:42Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/october-19-roger-knacke-returns-for-astro-open-house"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/september-14-open-house-night-in-astronomy-observes-neptunes-birthday"/>
        
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/march-14-year-of-the-planets-astronomy-open-house"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/october-19-roger-knacke-returns-for-astro-open-house">        <title>10/19/2011 7:30 pm - October 19: Roger Knacke Returns for Astro Open House</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/october-19-roger-knacke-returns-for-astro-open-house</link>        <description>September 22, 2011 – Dr. Roger Knacke, professor of physics and astronomy emeritus, will return to Penn State Erie, The Behrend College, on Wednesday, Oct. 19, to give an Open House Night in Astronomy presentation on the James Webb Space Telescope.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p>His nontechnical lecture will be held at 7:30 p.m. in 101 Otto Behrend Science Building; astronomical viewing will follow, weather permitting. Admission is free and open to the public.</p>
<p><img alt="RogerKnackenewsletter.jpg" class="pull-left" src="../../event-photos/RogerKnackenewsletter.jpg" />Knacke was director of the college’s School of Science from 1992 until his retirement in 2010. He now lives in Santa Cruz, Calif., where he has been an instructor at the University of California, Santa Cruz.</p>
<p>The James Webb Space Telescope, NASA’s initiative to succeed the aging Hubble Space Telescope, is scheduled for launch in 2018. “The Webb Telescope is a remarkable new instrument with seven times the light collecting power of Hubble. With that capability, it will have the power to search for the first stars and galaxies that formed in the very young universe more that 13 billion years ago,” Knacke said. “It also has the potential to investigate the new planets that have been found orbiting distant stars. Since some of these planets may have conditions on them that are favorable to life, this will be a next step in our search for life in the universe. The Webb Telescope could help us find answers to questions that have puzzled humankind for centuries.”</p>
<p>Knacke will discuss the science that drives the Webb Telescope, its ground breaking new technology, and the present status of the mission.</p>
<p>Open House Nights in Astronomy are an outreach program of the School of Science at Penn State Behrend. These nontechnical presentations are intended for ages 8 and up.</p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Open House Night in Astronomy</dc:subject>                <dc:date>2011-12-12T15:50:24Z</dc:date>        <dc:type>Event</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/september-14-open-house-night-in-astronomy-observes-neptunes-birthday">        <title>9/14/2011 8:00 pm - September 14: Observing Neptune's First Birthday</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2011/september-14-open-house-night-in-astronomy-observes-neptunes-birthday</link>        <description>Astronomers have declared 2011 “The Year of Neptune” because the blue gas-giant planet has completed exactly one orbit around the sun since its official discovery in September 1846.  Dr. Darren Williams, associate professor of physics and astronomy, will mark this milestone with an Open Night House in Astronomy on Wednesday, September 14.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p>His program, “Happy Birthday Neptune: One Time Around Since Discovery,” begins with a nontechnical lecture at 8 p.m. in 101 Otto Behrend Science Building followed by star-gazing from the Mehalso Observatory, weather permitting. Admission is free and open to the public.</p>
<p><img alt="DSC_2192.JPG" class="pull-left" src="../../event-photos/DSC_2192.JPG" />“It was 165 years ago that German astronomer Johann Galle of the Berlin Observatory first spotted Neptune drifting slowly through the constellation of Aquarius,” Williams says. “Galle knew where to point his telescope because of mathematical predictions given to him by French scientist Urbain Le Verrier. But the location of Neptune had actually been worked out independently and quietly the year before by an English mathematician, John Couch Adams.”</p>
<p>Williams says that he will discuss “the intriguing and tangled drama surrounding Neptune, as well as what this episode in history teaches us about how credit is given for scientific discovery.”</p>
<p>Open House Nights in Astronomy are an outreach program of the School of Science at Penn State Behrend. These nontechnical presentations are intended for ages 8 and up.</p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Open House Night in Astronomy</dc:subject>                    <dc:subject>Research and Outreach EVENT</dc:subject>                <dc:date>2011-12-12T15:49:36Z</dc:date>        <dc:type>Event</dc:type>    </item>
    <item rdf:about="https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/march-14-year-of-the-planets-astronomy-open-house">        <title>3/14/2012 7:00 pm - Wednesday: "Year of the Planets" Astronomy Open House</title>        <link>https://psbehrend.psu.edu/news-events/news-index-archives-1/past-events-2012/march-14-year-of-the-planets-astronomy-open-house</link>        <description>2012 will be a very good year for amateur astronomers, so much so that Darren Williams, associate professor of physics and astronomy at Penn State Erie, The Behrend College, will offer a preview of its unique viewing opportunities at his next Open House Night in Astronomy.</description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<p>“2012: Year of the Planets” takes place at 7 p.m. on Wednesday, March 14, in 101 Otto Behrend Science Building. The nontechnical presentation is free and open to the public and will be followed by astronomical viewing from the college’s Mehalso Observatory, weather permitting.</p>
<p><img alt="DarrenWilliams2.JPG" class="pull-left" src="../DarrenWilliams2.JPG" />“The winter sky in 2012 is packed with bright planets,” Williams says. “Venus and Jupiter make a spectacular pair in the western sky after sunset and are followed by Mars and Saturn, which rise in the east a few hours later. Both Mars and Saturn appear unusually bright this spring because they happen to be nearest the Earth in their orbits.”</p>
<p>In addition to the spring planetary palette, Williams adds, Venus will pass directly in front of the sun in early June, marking a rare alignment that will not be repeated until 2117.</p>
<p>Open House Nights in Astronomy are an outreach program of the School of Science at Penn State Behrend intended for ages 8 and up.</p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>crm3</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Open House Night in Astronomy</dc:subject>                    <dc:subject>Science Event</dc:subject>                <dc:date>2012-03-13T16:55:31Z</dc:date>        <dc:type>Event</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->