<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/academics/academic-services/acpc/acpc-events-1/acpc-events/RSS">
  <title>ACPC Events</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2010-09-03T10:00:16Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/academics/academic-services/acpc/acpc-events-1/career-fairs-and-workshops/career-fair/penn-state-behrend-annual-career-and-internship-fair-2010"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/academics/academic-services/acpc/acpc-events-1/career-fairs-and-workshops/career-fair/penn-state-behrend-annual-career-and-internship-fair-2010">        <title>3/20/2013 12:00 pm - Penn State Behrend Spring Career and Internship Fair 2013</title>        <link>https://psbehrend.psu.edu/academics/academic-services/acpc/acpc-events-1/career-fairs-and-workshops/career-fair/penn-state-behrend-annual-career-and-internship-fair-2010</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<h3>Wednesday, March 20, 2013</h3>
<p style="font-weight: bold;">Noon - 4:00 p.m., Junker Center</p>
<p style="font-weight: bold;"><a class="internal-link" href="../information-for-students/index.html">Information for Students</a></p>
<p style="font-weight: bold;"><a class="internal-link" href="../information-for-employers/index.html">Information for Employers</a></p>
<p> </p>
<p>The Spring Career and Internship Fair is open to all Penn State students and alumni as well as current college students enrolled at other universities. Attendees will be required to show their college or university identification in order to register. Advance registration is not required.</p>
<p>Our last Spring fair drew 155 companies and over 600 students together to discuss entry-level full-time, part-time, internship and co-op opportunities.</p>
<p>The employers represent a cross-section of Penn State Behrend's academic programs from the college’s four schools—Sam and Irene Black School of Business, School of Engineering, School of Humanities and Social Sciences, and School of Science—and its nursing program.</p>
<p>National corporations as well as local companies participated, including Caterpillar, UPMC, Dresser-Rand, Cleveland Cavaliers, Husky Injection Molding, FMC Technologies, and GE Transportation.</p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>ACPC Event</dc:subject>                <dc:date>2012-12-11T12:59:17Z</dc:date>        <dc:type>Event</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->