<?xml version="1.0" encoding="utf-8" ?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"
         xmlns="http://purl.org/rss/1.0/">




    



<channel rdf:about="https://psbehrend.psu.edu/student-life/events/student-life-events/RSS">
  <title>Student Life Events</title>
  <link>https://psbehrend.psu.edu</link>
  

  
  
  
            <syn:updatePeriod>daily</syn:updatePeriod>
            <syn:updateFrequency>1</syn:updateFrequency>
            <syn:updateBase>2010-12-07T11:00:12Z</syn:updateBase>
        
  
  <image rdf:resource="https://psbehrend.psu.edu/logo.jpg"/>

  <items>
    <rdf:Seq>
        
            <rdf:li rdf:resource="https://psbehrend.psu.edu/student-life/events/2013-spring-student-leadership-conference-1"/>
        
    </rdf:Seq>
  </items>

</channel>
    <item rdf:about="https://psbehrend.psu.edu/student-life/events/2013-spring-student-leadership-conference-1">        <title>1/18/2013 12:00 am - 2013 Spring Student Leadership Conference</title>        <link>https://psbehrend.psu.edu/student-life/events/2013-spring-student-leadership-conference-1</link>        <description></description> <content:encoded xmlns:content="http://purl.org/rss/1.0/modules/content/"><![CDATA[<h3>January 18 - 19, 2013</h3>
<p><br /> Please join Penn State Behrend students and staff who will offer insight into what direction to take on your leadership journey.  Various sessions will be offered, providing guidance and direction for your college career and future.  Round-trip transportation to and from the Bayfront Convention Center, Friday night lodging, three meals and complimentary snacks, and entertainment are all provided.</p>
<p> </p>
<p style="font-weight: bold; padding-left: 30px"><a href="../StudentLeadershipConferenceScheduleOverview.pdf">Schedule of Events</a></p>
<p style="font-weight: bold; padding-left: 30px"><a href="https://orgsync.com/21097/forms/show/25917">Register</a></p>
<p style="font-weight: bold; padding-left: 30px"><a href="http://orgsync.com/21097/forms/show/26126">Presenter's Registration Form</a></p>]]></content:encoded>       <dc:publisher>No publisher</dc:publisher>        <dc:creator>jnd118</dc:creator>        <dc:rights></dc:rights>                    <dc:subject>Student Life Event</dc:subject>                <dc:date>2012-11-05T20:05:04Z</dc:date>        <dc:type>Event</dc:type>    </item>



</rdf:RDF>

<!-- Localized -->